I use FoCS environment. Python 3.11.6 version.

In [1]:
# Import useful libraries
import os
import json
import re
import pandas as pd
import numpy as np
from collections import defaultdict

In [2]:
# Configuration file
with open('config.json', 'r') as f:
    config = json.load(f)

In [3]:
# Set the display options to show numbers without scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

You have to work on the [ZTBus: A Large Dataset of Time-Resolved City Bus Driving Missions](https://www.research-collection.ethz.ch/handle/20.500.11850/626723) repository.

It contains:
*  [metaData.csv](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/626723/metaData.csv?sequence=1&isAllowed=y), shortly *trips*
*  several other files containing detailed data on some bus parameters, whose name is in the *trips* file. Those files can be downloaded as a [zip file](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/626723/ZTBus_compressed.zip?sequence=3&isAllowed=y). Let us call those datasets the *details* datasets.

# Import

**ZT_bus Folder Structure**: The 'ZT_bus' folder is the main directory containing data related to driving missions.
Inside this folder, you'll find information on 1409 driving missions.

**Metadata Information**: Additionally, there is a 'metadata' folder that stores metadata related to these missions.
The metadata includes information for all 1490 missions.

## Metadata csv

In [5]:
metadata = pd.read_csv(config['path_metadata'])

In [5]:
metadata.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.870,-,478585200.000,5.539,0,20,0.741,282.378,281.150,293.150
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.600,31,402258500.000,33.115,4,74,0.855,287.544,285.150,293.150
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.400,33,1445733000.000,19.689,0,55,0.778,288.749,280.150,294.150
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.480,-,281986700.000,1.685,0,8,0.767,282.413,281.150,292.150
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.200,72,620725800.000,23.754,1,67,0.907,284.733,282.150,287.150

In [6]:
metadata.shape

(1409, 16)

In [7]:
# Check metadata dtypes
metadata.dtypes

name                             object
busNumber                         int64
startTime_iso                    object
startTime_unix                    int64
endTime_iso                      object
endTime_unix                      int64
drivenDistance                  float64
busRoute                         object
energyConsumption               float64
itcs_numberOfPassengers_mean    float64
itcs_numberOfPassengers_min       int64
itcs_numberOfPassengers_max       int64
status_gridIsAvailable_mean     float64
temperature_ambient_mean        float64
temperature_ambient_min         float64
temperature_ambient_max         float64
dtype: object

`startTime_iso` has `object` format. It should be a `datetime` object. Later, when this variable will be used for analysis it will be better to change the format or to use `startTime_unix`. The same regards the `endTime_iso` variable. The other format are correct for the nature of the variable they represent.

### Nan values check

In [8]:
metadata.isna().sum()

name                            0
busNumber                       0
startTime_iso                   0
startTime_unix                  0
endTime_iso                     0
endTime_unix                    0
drivenDistance                  0
busRoute                        0
energyConsumption               0
itcs_numberOfPassengers_mean    0
itcs_numberOfPassengers_min     0
itcs_numberOfPassengers_max     0
status_gridIsAvailable_mean     0
temperature_ambient_mean        0
temperature_ambient_min         0
temperature_ambient_max         0
dtype: int64

In [9]:
print(f'Metadata dataframes has: {metadata.isna().sum().sum()} null values.')

Metadata dataframes has: 0 null values.

Dataset does not contain nan values.

## Import ZT_bus data

In [6]:
file_names = [file_name for file_name in os.listdir(config['path_ZTbus_folder']) if 
              os.path.isfile(os.path.join(config['path_ZTbus_folder'], file_name))]

In [11]:
# Print only the first 10 results
file_names[:10]

['B183_2020-11-13_14-52-45_2020-11-13_19-13-45.csv',
 'B183_2020-10-06_04-23-44_2020-10-06_07-33-54.csv',
 'B183_2019-10-03_03-04-42_2019-10-03_18-38-45.csv',
 'B183_2022-05-02_03-02-19_2022-05-02_17-07-49.csv',
 'B183_2021-04-23_03-47-54_2021-04-23_07-48-48.csv',
 'B208_2022-08-15_03-31-51_2022-08-15_12-34-10.csv',
 'B183_2020-07-24_04-01-31_2020-07-24_18-04-39.csv',
 'B183_2022-10-28_13-36-23_2022-10-28_16-37-08.csv',
 'B208_2021-04-21_04-10-07_2021-04-21_18-19-32.csv',
 'B183_2022-07-28_14-27-33_2022-07-28_19-17-23.csv']

In [12]:
len(file_names) == metadata.shape[0]

True

As expected, ZT_bus folder contains data related to 1409 driving missions and metadata contains information related to that missions (always 1490).

In [7]:
dataframes = {}
for el in file_names:
    dataframes[el[:-4]] = pd.read_csv(f'{config["path_ZTbus_folder"]}/{el}')

In [16]:
type(dataframes)

dict

`dataframes` is a dictionary of dataframes, in total 1490. Each of them correspond to a driving mission.

In [17]:
# Print the first 10 keys
list(dataframes.keys())[:10]

['B183_2020-11-13_14-52-45_2020-11-13_19-13-45',
 'B183_2020-10-06_04-23-44_2020-10-06_07-33-54',
 'B183_2019-10-03_03-04-42_2019-10-03_18-38-45',
 'B183_2022-05-02_03-02-19_2022-05-02_17-07-49',
 'B183_2021-04-23_03-47-54_2021-04-23_07-48-48',
 'B208_2022-08-15_03-31-51_2022-08-15_12-34-10',
 'B183_2020-07-24_04-01-31_2020-07-24_18-04-39',
 'B183_2022-10-28_13-36-23_2022-10-28_16-37-08',
 'B208_2021-04-21_04-10-07_2021-04-21_18-19-32',
 'B183_2022-07-28_14-27-33_2022-07-28_19-17-23']

In [18]:
len(dataframes.keys())

1409

Let's take two samples dataframes to analyse.

In [19]:
dataframes['B183_2019-04-30_03-18-56_2019-04-30_08-44-20'].head()

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
0,2019-04-30T03:18:56Z,1556594336,-13.846,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,1,0,0,293.150,251666.700,0.000
1,2019-04-30T03:18:57Z,1556594337,-3.849,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,1,0,0,292.369,254876.200,0.000
2,2019-04-30T03:18:58Z,1556594338,-0.672,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,1,0,0,292.931,251783.300,0.000
3,2019-04-30T03:18:59Z,1556594339,-1.088,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,1,0,0,293.150,255000.000,0.000
4,2019-04-30T03:19:00Z,1556594340,-0.812,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,1,0,0,293.150,253000.000,0.000

In [20]:
dataframes['B183_2019-04-30_03-18-56_2019-04-30_08-44-20'].columns

Index(['time_iso', 'time_unix', 'electric_powerDemand', 'gnss_altitude',
       'gnss_course', 'gnss_latitude', 'gnss_longitude', 'itcs_busRoute',
       'itcs_numberOfPassengers', 'itcs_stopName',
       'odometry_articulationAngle', 'odometry_steeringAngle',
       'odometry_vehicleSpeed', 'odometry_wheelSpeed_fl',
       'odometry_wheelSpeed_fr', 'odometry_wheelSpeed_ml',
       'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
       'odometry_wheelSpeed_rr', 'status_doorIsOpen', 'status_gridIsAvailable',
       'status_haltBrakeIsActive', 'status_parkBrakeIsActive',
       'temperature_ambient', 'traction_brakePressure',
       'traction_tractionForce'],
      dtype='object')

In [21]:
dataframes['B183_2019-04-30_03-18-56_2019-04-30_08-44-20'].shape

(19525, 26)

In [22]:
dataframes['B183_2019-04-30_03-18-56_2019-04-30_08-44-20'].dtypes

time_iso                       object
time_unix                       int64
electric_powerDemand          float64
gnss_altitude                 float64
gnss_course                   float64
gnss_latitude                 float64
gnss_longitude                float64
itcs_busRoute                  object
itcs_numberOfPassengers       float64
itcs_stopName                  object
odometry_articulationAngle    float64
odometry_steeringAngle        float64
odometry_vehicleSpeed         float64
odometry_wheelSpeed_fl        float64
odometry_wheelSpeed_fr        float64
odometry_wheelSpeed_ml        float64
odometry_wheelSpeed_mr        float64
odometry_wheelSpeed_rl        float64
odometry_wheelSpeed_rr        float64
status_doorIsOpen               int64
status_gridIsAvailable          int64
status_haltBrakeIsActive        int64
status_parkBrakeIsActive        int64
temperature_ambient           float64
traction_brakePressure        float64
traction_tractionForce        float64
dtype: object

In [23]:
dataframes['B208_2022-03-25_23-51-19_2022-03-26_03-42-34'].head()

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
0,2022-03-25T23:51:19Z,1648252279,2795.944,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,0,1,1,293.839,245833.300,0.000
1,2022-03-25T23:51:20Z,1648252280,2717.339,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,0,1,1,293.461,245833.300,0.000
2,2022-03-25T23:51:21Z,1648252281,2904.655,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,0,1,1,293.150,245833.300,0.000
3,2022-03-25T23:51:22Z,1648252282,2862.673,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,0,1,1,293.839,245833.300,0.000
4,2022-03-25T23:51:23Z,1648252283,2927.541,NaN,NaN,NaN,NaN,-,NaN,-,...,0.000,0.000,0.000,1,0,1,1,293.461,245833.300,0.000

In [24]:
dataframes['B208_2022-03-25_23-51-19_2022-03-26_03-42-34'].shape

(13876, 26)

In [25]:
dataframes['B208_2022-03-25_23-51-19_2022-03-26_03-42-34'].dtypes

time_iso                       object
time_unix                       int64
electric_powerDemand          float64
gnss_altitude                 float64
gnss_course                   float64
gnss_latitude                 float64
gnss_longitude                float64
itcs_busRoute                  object
itcs_numberOfPassengers       float64
itcs_stopName                  object
odometry_articulationAngle    float64
odometry_steeringAngle        float64
odometry_vehicleSpeed         float64
odometry_wheelSpeed_fl        float64
odometry_wheelSpeed_fr        float64
odometry_wheelSpeed_ml        float64
odometry_wheelSpeed_mr        float64
odometry_wheelSpeed_rl        float64
odometry_wheelSpeed_rr        float64
status_doorIsOpen               int64
status_gridIsAvailable          int64
status_haltBrakeIsActive        int64
status_parkBrakeIsActive        int64
temperature_ambient           float64
traction_brakePressure        float64
traction_tractionForce        float64
dtype: object

As explained before, `time_iso` should be `datetime` format but instead is `object`. For future analysis it will be better to change the format or to use `time_unix`. The other variables formats are correct for the nature of the variable they represent. I assume this adapts also to the other dataframes.

In [26]:
diz = defaultdict(int)
# defaultdict(int) initializes the dictionary values to 0

for name in file_names:
    prefix = name[:4]
    diz[prefix] += 1

diz

defaultdict(int, {'B183': 864, 'B208': 545})

* 864 driving missions with bus 183
* 545 driving missions with bus 208

### Nan values check

In [27]:
dataframes['B183_2019-04-30_03-18-56_2019-04-30_08-44-20'].isna().sum()

time_iso                          0
time_unix                         0
electric_powerDemand              0
gnss_altitude                 19328
gnss_course                   19328
gnss_latitude                 19328
gnss_longitude                19328
itcs_busRoute                     0
itcs_numberOfPassengers       19332
itcs_stopName                     0
odometry_articulationAngle        0
odometry_steeringAngle            0
odometry_vehicleSpeed             0
odometry_wheelSpeed_fl            0
odometry_wheelSpeed_fr            0
odometry_wheelSpeed_ml            0
odometry_wheelSpeed_mr            0
odometry_wheelSpeed_rl            0
odometry_wheelSpeed_rr            0
status_doorIsOpen                 0
status_gridIsAvailable            0
status_haltBrakeIsActive          0
status_parkBrakeIsActive          0
temperature_ambient               0
traction_brakePressure            0
traction_tractionForce            0
dtype: int64

In [28]:
dataframes['B208_2022-03-25_23-51-19_2022-03-26_03-42-34'].isna().sum()

time_iso                          0
time_unix                         0
electric_powerDemand              0
gnss_altitude                   115
gnss_course                     110
gnss_latitude                   110
gnss_longitude                  110
itcs_busRoute                     0
itcs_numberOfPassengers       13781
itcs_stopName                     0
odometry_articulationAngle        0
odometry_steeringAngle            0
odometry_vehicleSpeed             0
odometry_wheelSpeed_fl            0
odometry_wheelSpeed_fr            0
odometry_wheelSpeed_ml            0
odometry_wheelSpeed_mr            0
odometry_wheelSpeed_rl            0
odometry_wheelSpeed_rr            0
status_doorIsOpen                 0
status_gridIsAvailable            0
status_haltBrakeIsActive          0
status_parkBrakeIsActive          0
temperature_ambient               0
traction_brakePressure            0
traction_tractionForce            0
dtype: int64

In both datasets, it appears that the columns `gnss_altitude`, `gnss_course`, `gnss_latitude`, and `itcs_numberOfPassengers` have some missing values. The number of missing values varies between the two datasets. It might be worth investigating why these specific columns have missing data and how it could impact your analysis or modeling. 

Based on this two samples I think that there are missing values for the two columns described above. In future analysis it's important to take in consideration this aspect but also to consider that possible other variables can have Null values because for now I only checked two samples.

## 1. Extract all trips with `busRoute` 83

The variable `busRoute` have some cells with `-` value. `-` can represents the fact that the bus does not stop in a that particular stop. In order to extract the trips with busRoute 83 I decide to transform substitute the values `-` with a null value.

In [14]:
metadata.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.870,-,478585200.000,5.539,0,20,0.741,282.378,281.150,293.150
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.600,31,402258500.000,33.115,4,74,0.855,287.544,285.150,293.150
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.400,33,1445733000.000,19.689,0,55,0.778,288.749,280.150,294.150
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.480,-,281986700.000,1.685,0,8,0.767,282.413,281.150,292.150
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.200,72,620725800.000,23.754,1,67,0.907,284.733,282.150,287.150

In [15]:
metadata.dtypes

name                             object
busNumber                         int64
startTime_iso                    object
startTime_unix                    int64
endTime_iso                      object
endTime_unix                      int64
drivenDistance                  float64
busRoute                         object
energyConsumption               float64
itcs_numberOfPassengers_mean    float64
itcs_numberOfPassengers_min       int64
itcs_numberOfPassengers_max       int64
status_gridIsAvailable_mean     float64
temperature_ambient_mean        float64
temperature_ambient_min         float64
temperature_ambient_max         float64
dtype: object

In [16]:
metadata['busRoute'] = metadata['busRoute'].replace('-', np.nan)

In [17]:
metadata.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.870,NaN,478585200.000,5.539,0,20,0.741,282.378,281.150,293.150
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.600,31,402258500.000,33.115,4,74,0.855,287.544,285.150,293.150
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.400,33,1445733000.000,19.689,0,55,0.778,288.749,280.150,294.150
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.480,NaN,281986700.000,1.685,0,8,0.767,282.413,281.150,292.150
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.200,72,620725800.000,23.754,1,67,0.907,284.733,282.150,287.150

In [18]:
metadata.isna().sum()

name                             0
busNumber                        0
startTime_iso                    0
startTime_unix                   0
endTime_iso                      0
endTime_unix                     0
drivenDistance                   0
busRoute                        11
energyConsumption                0
itcs_numberOfPassengers_mean     0
itcs_numberOfPassengers_min      0
itcs_numberOfPassengers_max      0
status_gridIsAvailable_mean      0
temperature_ambient_mean         0
temperature_ambient_min          0
temperature_ambient_max          0
dtype: int64

In [19]:
print(f'busRoute variable contains: {metadata["busRoute"].isna().sum()} missing values')

busRoute variable contains: 11 missing values

In [20]:
metadata.dtypes

name                             object
busNumber                         int64
startTime_iso                    object
startTime_unix                    int64
endTime_iso                      object
endTime_unix                      int64
drivenDistance                  float64
busRoute                         object
energyConsumption               float64
itcs_numberOfPassengers_mean    float64
itcs_numberOfPassengers_min       int64
itcs_numberOfPassengers_max       int64
status_gridIsAvailable_mean     float64
temperature_ambient_mean        float64
temperature_ambient_min         float64
temperature_ambient_max         float64
dtype: object

Let's check the unique values of `busRoute`.

In [21]:
metadata['busRoute'].unique()

array([nan, '31', '33', '72', '46', '32', '83', 'N4', 'N2', 'N1'],
      dtype=object)

The bus routes are not only integers because there are also `N4`, `N2` and `N1`. Probably this trips correspond to routes done in the night. I can keep the data type as a `object` and the format to `string` and I can extract the trips with busRoute 83.

In [22]:
metadata_busRoute_83 = metadata[metadata['busRoute']=='83']
metadata_busRoute_83

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.900,83,1544278000.000,23.475,0,118,0.472,280.545,279.150,289.150
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.300,83,1631816000.000,17.416,0,69,0.451,279.885,278.150,289.150
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.360,83,540601300.000,23.182,0,74,0.460,281.049,279.150,291.150
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.800,83,1692171000.000,20.964,0,86,0.475,279.836,279.150,291.150
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.200,83,1145860000.000,17.212,0,80,0.341,287.344,282.150,291.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399,B208_2022-11-30_04-47-53_2022-11-30_19-50-22,208,2022-11-30T04:47:53Z,1669783673,2022-11-30T19:50:22Z,1669837822,223165.000,83,1560888000.000,27.891,2,100,0.456,280.695,279.150,293.150
1400,B208_2022-12-01_05-19-41_2022-12-01_18-20-57,208,2022-12-01T05:19:41Z,1669871981,2022-12-01T18:20:57Z,1669918857,190196.000,83,1418847000.000,26.039,0,96,0.450,279.765,279.150,292.150
1401,B208_2022-12-02_04-47-48_2022-12-02_19-40-01,208,2022-12-02T04:47:48Z,1669956468,2022-12-02T19:40:01Z,1670010001,224473.400,83,1611150000.000,24.804,2,91,0.439,279.789,279.150,291.150
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.600,83,1536697000.000,28.785,0,115,0.435,279.528,278.150,292.666
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.700,83,1415700000.000,29.879,0,102,0.440,279.172,277.150,292.150

In [39]:
# Same of doing 
print(f'The number of trips with bus route 83 is: {len(metadata_busRoute_83)}')

The number of trips with bus route 83 is: 846

## 2. Extract all trips where `busRoute` is not a number 

Not a number mean Nan values or night trip.

In [24]:
# Filter rows where 'busRoute' is not numeric
metadata_busRoute_NotInt = metadata[~metadata['busRoute'].astype(str).str.isnumeric()]
metadata_busRoute_NotInt

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.870,NaN,478585200.000,5.539,0,20,0.741,282.378,281.150,293.150
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.480,NaN,281986700.000,1.685,0,8,0.767,282.413,281.150,292.150
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.000,NaN,1303391000.000,8.230,0,43,0.741,287.562,282.150,293.150
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.800,NaN,1647432000.000,7.892,0,45,0.804,284.676,280.150,293.150
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.600,NaN,1448057000.000,7.520,0,44,0.761,293.144,283.150,299.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.160,N1,434776600.000,16.333,0,45,0.432,289.255,288.150,296.150
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.970,N2,399773700.000,17.711,0,57,0.443,287.349,285.150,295.150
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.260,N2,447553400.000,11.217,1,32,0.465,281.388,280.150,293.150
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.570,N1,451916500.000,20.105,0,74,0.496,279.454,277.150,291.150
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.830,N2,535095600.000,15.993,0,52,0.459,276.004,273.150,291.150

`df[~df['column_name'].condition]`

`~` is used to negate the condition. In this case I want to extract the rows whether each value in the `busRoute` column is not numeric using the `str.isnumeric()` method.

In [41]:
print(f'The number of trips where BusRoute is not Int is: {metadata_busRoute_NotInt.shape[0]}')

The number of trips where BusRoute is not Int is: 84

In [25]:
# Unique values
metadata_busRoute_NotInt['busRoute'].unique()

array([nan, 'N4', 'N2', 'N1'], dtype=object)

If I don't want to include Nan values

In [26]:
metadata_busRoute_NotInt_NotNan = metadata[~metadata['busRoute'].astype(str).str.isnumeric() & ~metadata['busRoute'].isna()]
metadata_busRoute_NotInt_NotNan

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
533,B183_2021-12-18_23-37-00_2021-12-19_03-38-35,183,2021-12-18T23:37:00Z,1639870620,2021-12-19T03:38:35Z,1639885115,76216.060,N4,481350300.000,9.199,0,37,0.492,276.863,275.150,288.150
553,B183_2022-01-07_23-40-43_2022-01-08_03-31-21,183,2022-01-07T23:40:43Z,1641598843,2022-01-08T03:31:21Z,1641612681,68557.060,N2,453625100.000,4.627,0,13,0.427,276.967,275.150,287.150
554,B183_2022-01-08_23-40-17_2022-01-09_03-35-32,183,2022-01-08T23:40:17Z,1641685217,2022-01-09T03:35:32Z,1641699332,67962.920,N2,475383300.000,7.495,0,26,0.516,278.565,277.150,288.150
561,B183_2022-01-15_23-41-46_2022-01-16_03-40-23,183,2022-01-15T23:41:46Z,1642290106,2022-01-16T03:40:23Z,1642304423,77156.700,N1,525168300.000,6.513,0,32,0.474,274.994,273.150,286.150
568,B183_2022-01-21_23-35-40_2022-01-22_03-26-24,183,2022-01-21T23:35:40Z,1642808140,2022-01-22T03:26:24Z,1642821984,71917.750,N2,455476000.000,5.357,0,23,0.494,275.307,274.150,281.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.160,N1,434776600.000,16.333,0,45,0.432,289.255,288.150,296.150
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.970,N2,399773700.000,17.711,0,57,0.443,287.349,285.150,295.150
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.260,N2,447553400.000,11.217,1,32,0.465,281.388,280.150,293.150
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.570,N1,451916500.000,20.105,0,74,0.496,279.454,277.150,291.150
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.830,N2,535095600.000,15.993,0,52,0.459,276.004,273.150,291.150

In [27]:
print(f'The number of trips where BusRoute is not Int and is not Nan is: {metadata_busRoute_NotInt_NotNan.shape[0]}')

The number of trips where BusRoute is not Int and is not Nan is: 73

In [28]:
print(f'The number of trips where BusRoute is Int is: {metadata[metadata["busRoute"].astype(str).str.isnumeric()].shape[0]}')

The number of trips where BusRoute is Int is: 1325

## 3. For each (`busNumber`, `busRoute`) pair, determine the number of trips

In [29]:
metadata['busNumber'].dtypes

dtype('int64')

`busNumber` is correctly data type integer. 

Let's check the unique values.

In [30]:
metadata['busNumber'].unique()

array([183, 208])

As expected, since that there are 2 driving missions: 183 and 208, `bus Number` has two values: 183 and 208.

To answer to this question I consider a dataframe without Nan values (11 rows deleted). I drop the rows with Nan value on `busRoute` column. As checked before `busNumber` does not have missing values.

In [31]:
metadata_notNan = metadata.dropna()
metadata_notNan

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.600,31,402258500.000,33.115,4,74,0.855,287.544,285.150,293.150
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.400,33,1445733000.000,19.689,0,55,0.778,288.749,280.150,294.150
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.200,72,620725800.000,23.754,1,67,0.907,284.733,282.150,287.150
5,B183_2019-05-05_07-41-02_2019-05-05_23-20-07,183,2019-05-05T07:41:02Z,1557042062,2019-05-05T23:20:07Z,1557098407,283206.900,46,1661700000.000,16.499,0,74,0.998,280.167,277.150,291.150
6,B183_2019-05-06_03-10-43_2019-05-06_19-20-34,183,2019-05-06T03:10:43Z,1557112243,2019-05-06T19:20:34Z,1557170434,224131.600,31,1388008000.000,28.035,0,83,0.871,282.243,277.150,291.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,B208_2022-12-06_14-43-49_2022-12-06_18-22-52,208,2022-12-06T14:43:49Z,1670337829,2022-12-06T18:22:52Z,1670350972,51798.780,32,426041900.000,39.809,0,83,0.739,279.640,278.150,291.150
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.600,83,1536697000.000,28.785,0,115,0.435,279.528,278.150,292.666
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.700,83,1415700000.000,29.879,0,102,0.440,279.172,277.150,292.150
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.570,N1,451916500.000,20.105,0,74,0.496,279.454,277.150,291.150
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.830,N2,535095600.000,15.993,0,52,0.459,276.004,273.150,291.150

In [49]:
metadata_notNan.shape[0]

1398

In [32]:
print(f'The number of rows dropped is: {metadata.shape[0] - metadata_notNan.shape[0]}')

The number of rows dropped is: 11

**Opzione 1** 

`('busNumber', 'busRoute')` as a column.

In [33]:
trips_busNum_busRoute = metadata_notNan.groupby(['busNumber', 'busRoute'], as_index=False).size()

In [34]:
trips_busNum_busRoute = trips_busNum_busRoute.rename(columns={'size': 'numTrips'})

In [35]:
trips_busNum_busRoute

    busNumber busRoute  numTrips
0         183       31        12
1         183       32        12
2         183       33       130
3         183       46       104
4         183       72       114
5         183       83       441
6         183       N1        10
7         183       N2        19
8         183       N4        11
9         208       31         5
10        208       32        14
11        208       33        25
12        208       46        19
13        208       72        44
14        208       83       405
15        208       N1         6
16        208       N2        20
17        208       N4         7

In [36]:
trips_busNum_busRoute['numTrips'].sum()

1398

**Opzione 2** 

`('busNumber', 'busRoute')` as a index.

In [37]:
trips_busNum_busRoute_index = metadata_notNan.groupby(['busNumber', 'busRoute']).size()

In [38]:
trips_busNum_busRoute_index

busNumber  busRoute
183        31           12
           32           12
           33          130
           46          104
           72          114
           83          441
           N1           10
           N2           19
           N4           11
208        31            5
           32           14
           33           25
           46           19
           72           44
           83          405
           N1            6
           N2           20
           N4            7
dtype: int64

## 4. For each trip, compute the ratio between the energy consumption and the average number of passengers

In [6]:
metadata.columns

Index(['name', 'busNumber', 'startTime_iso', 'startTime_unix', 'endTime_iso',
       'endTime_unix', 'drivenDistance', 'busRoute', 'energyConsumption',
       'itcs_numberOfPassengers_mean', 'itcs_numberOfPassengers_min',
       'itcs_numberOfPassengers_max', 'status_gridIsAvailable_mean',
       'temperature_ambient_mean', 'temperature_ambient_min',
       'temperature_ambient_max'],
      dtype='object')

The ratio between energy consumption and the average number of passenger can be calculated in the following way: 
`energyConsumption` / `itcs_numberOfPassengers_mean` which represents the ratio of energy consumption per passenger on average.

In [7]:
metadata['ratio_EnergCons_MeanNumOfPass'] = metadata['energyConsumption'] / metadata['itcs_numberOfPassengers_mean']

In [9]:
metadata[['name', 'energyConsumption', 'itcs_numberOfPassengers_mean', 'ratio_EnergCons_MeanNumOfPass']].head()

,name,energyConsumption,itcs_numberOfPassengers_mean,ratio_EnergCons_MeanNumOfPass
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,478585200.000,5.539,86405000.307
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,402258500.000,33.115,12147474.013
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,1445733000.000,19.689,73427940.479
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,281986700.000,1.685,167332785.421
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,620725800.000,23.754,26131895.121

**Comment on first row values**

* `energyConsumption`: The energy consumption for the first bus trip is approximately 479,585,200.
* `itcs_numberOfPassengers_mean`: The average number of passengers for the first bus trip is approximately 5.54.
* `ratio_EnergCons_MeanNumOfPass`: The ratio of energy consumption per average number of passengers is a derived metric that helps assess the energy efficiency of a bus trip. In this context, the value of approximately 86,405,000 suggests that, on average, each passenger contributes to an energy consumption of about 86.4 million units during this particular bus trip. This ratio provides insights into the energy efficiency of the transportation system, with lower values indicating more efficient energy utilization per passenger.

The ratio tends to increase when the average number of passengers is lower. The higher ratio in situations with fewer passengers may indicate a relatively less efficient use of energy resources per passenger, emphasizing the potential benefits of improving passenger occupancy for enhanced energy.

## 5. For each station (`itcs_stopName`), determine the average number of passengers.

The information `itcs_stopName` is a variable included in each dataframe of `dataframes` dictionary.  `itcs_stopName` can include the symbol `-` because, as before, probably the bus didn't stop in that stop. In this situation I consider in a missing value and I replace with Nan.

In [42]:
dataframes['B208_2022-03-25_23-51-19_2022-03-26_03-42-34'].columns

Index(['time_iso', 'time_unix', 'electric_powerDemand', 'gnss_altitude',
       'gnss_course', 'gnss_latitude', 'gnss_longitude', 'itcs_busRoute',
       'itcs_numberOfPassengers', 'itcs_stopName',
       'odometry_articulationAngle', 'odometry_steeringAngle',
       'odometry_vehicleSpeed', 'odometry_wheelSpeed_fl',
       'odometry_wheelSpeed_fr', 'odometry_wheelSpeed_ml',
       'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
       'odometry_wheelSpeed_rr', 'status_doorIsOpen', 'status_gridIsAvailable',
       'status_haltBrakeIsActive', 'status_parkBrakeIsActive',
       'temperature_ambient', 'traction_brakePressure',
       'traction_tractionForce'],
      dtype='object')

In [61]:
dataframes['B208_2022-03-25_23-51-19_2022-03-26_03-42-34']['itcs_stopName'].unique()

array(['-', 'Zürich, Bahnhofplatz/HB', 'Zürich, Löwenplatz',
       'Zürich, Sihlpost / HB', 'Zürich, Kanonengasse',
       'Zürich, Militär-/Langstrasse', 'Zürich, Bäckeranlage',
       'Zürich, Güterbahnhof', 'Zürich, Hardplatz',
       'Zürich, Herdernstrasse', 'Zürich, SBB-Werkstätte',
       'Zürich, Letzipark', 'Zürich, Letzibach',
       'Zürich, Bahnhof Altstetten', 'Zürich, Bristenstrasse',
       'Zürich, Lindenplatz', 'Zürich, Rautistrasse',
       'Zürich, Schulhaus Buchlern', 'Zürich, Rautihalde',
       'Zürich, Salzweg', 'Zürich, Dunkelhölzli', 'Zürich, Sihlquai/HB',
       'Zürich, Museum für Gestaltung', 'Zürich, Limmatplatz',
       'Zürich, Quellenstrasse', 'Zürich, Löwenbräu',
       'Zürich, Escher-Wyss-Platz', 'Zürich, Rosengartenstrasse',
       'Zürich, Lehenstrasse', 'Zürich, Rebbergsteig',
       'Zürich, Kempfhofsteig', 'Zürich, Schwert',
       'Zürich, Meierhofplatz', 'Zürich, Wieslergasse',
       'Zürich, Singlistrasse', 'Zürich, Segantinistrasse',
       'Zürich, Giblenstrasse', 'Zürich, Heizenholz',
       'Zürich, Geeringstrasse', 'Zürich, Rütihof'], dtype=object)

In [62]:
dataframes['B208_2022-03-25_23-51-19_2022-03-26_03-42-34']['itcs_numberOfPassengers'].unique()

array([nan, 46., 55., 60., 67., 42., 40., 37., 43., 41., 19., 13.,  6.,
        5.,  0.,  2.,  4.,  7., 12., 14., 45.,  9., 17., 11.,  8.,  3.,
        1., 15., 16.])

The stops per trip changes. The first step is calculating the number of passenger per stop for every trip. We store this information in `dataframes_Stop_NumPass` dictionary. Later we create another dictonary with the sum of passenger per stops considering all the trips. Finally we will do the average.

In [43]:
for trip, df in dataframes.items():
    df['itcs_stopName'] = df['itcs_stopName'].replace('-', np.nan)
    df['Bus_identifier'] = trip # define bus identifier variable

In [44]:
# Concatenate all dataframes into a single dataframe
all_df = pd.concat(dataframes.values(), ignore_index=True)

In [45]:
all_df

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,Bus_identifier
0,2020-11-13T14:52:45Z,1605279165,9346.241,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,856666.700,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
1,2020-11-13T14:52:46Z,1605279166,9819.954,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,860000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
2,2020-11-13T14:52:47Z,1605279167,9023.815,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,861947.100,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
3,2020-11-13T14:52:48Z,1605279168,9187.615,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,865000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
4,2020-11-13T14:52:49Z,1605279169,9960.241,429.200,1.560,0.827,0.148,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,870000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48674457,2022-01-27T08:11:21Z,1643271081,-0.327,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,0.000,1.000,276.150,0.000,0.000,B183_2022-01-27_03-51-06_2022-01-27_08-11-25
48674458,2022-01-27T08:11:22Z,1643271082,-0.645,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,0.000,1.000,276.150,0.000,0.000,B183_2022-01-27_03-51-06_2022-01-27_08-11-25
48674459,2022-01-27T08:11:23Z,1643271083,-0.806,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,0.000,1.000,276.150,0.000,0.000,B183_2022-01-27_03-51-06_2022-01-27_08-11-25
48674460,2022-01-27T08:11:24Z,1643271084,-0.803,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,0.000,1.000,276.150,0.000,0.000,B183_2022-01-27_03-51-06_2022-01-27_08-11-25
48674461,2022-01-27T08:11:25Z,1643271085,-0.725,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,0.000,1.000,276.150,0.000,0.000,B183_2022-01-27_03-51-06_2022-01-27_08-11-25

In [139]:
# save all_df to csv
all_df.to_csv("/Users/veronicamorelli/Desktop/University/Foundations of Computer Science/all_df.csv", index=False)

In [46]:
# Group by 'itcs_stopName' and calculate the average number of passengers
average_passengers_per_stop = all_df.groupby('itcs_stopName')['itcs_numberOfPassengers'].mean().reset_index()

In [47]:
average_passengers_per_stop

                      itcs_stopName  itcs_numberOfPassengers
0                 Zürich, Albisrank                   16.197
1          Zürich, Albisriederplatz                   25.453
2         Zürich, Altes Krematorium                   21.980
3         Zürich, Bahnhof Affoltern                    2.851
4        Zürich, Bahnhof Altstetten                    7.817
..                              ...                      ...
144         Zürich, Zentrum Witikon                   17.255
145        Zürich, Zweiackerstrasse                    7.502
146              Zürich, Zwielplatz                    2.049
147             Zürich, Zwinglihaus                   23.197
148  Zürich,Kalkbreite/Bhf.Wiedikon                   23.161

[149 rows x 2 columns]

## 6. For each station, determine the buses that have stopped there at least once.

In [48]:
# Create new column with bus number
all_df['Bus_number'] = all_df['Bus_identifier'].str.extract(r'B(\d+)_')
all_df.head()

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,Bus_identifier,Bus_number
0,2020-11-13T14:52:45Z,1605279165,9346.241,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,1.000,0.000,1.000,0.000,292.150,856666.700,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183
1,2020-11-13T14:52:46Z,1605279166,9819.954,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,1.000,0.000,1.000,0.000,292.150,860000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183
2,2020-11-13T14:52:47Z,1605279167,9023.815,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,1.000,0.000,1.000,0.000,292.150,861947.100,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183
3,2020-11-13T14:52:48Z,1605279168,9187.615,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,1.000,0.000,1.000,0.000,292.150,865000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183
4,2020-11-13T14:52:49Z,1605279169,9960.241,429.200,1.560,0.827,0.148,-,NaN,NaN,...,0.000,1.000,0.000,1.000,0.000,292.150,870000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183

* `B`: This matches the literal character 'B'.
* `(\d+)`: This is a capturing group that matches one or more digits (\d+). The parentheses () are used to capture the matched digits.
* `_`: This matches the literal underscore character.

In [10]:
all_df.columns

Index(['time_iso', 'time_unix', 'electric_powerDemand', 'gnss_altitude',
       'gnss_course', 'gnss_latitude', 'gnss_longitude', 'itcs_busRoute',
       'itcs_numberOfPassengers', 'itcs_stopName',
       'odometry_articulationAngle', 'odometry_steeringAngle',
       'odometry_vehicleSpeed', 'odometry_wheelSpeed_fl',
       'odometry_wheelSpeed_fr', 'odometry_wheelSpeed_ml',
       'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
       'odometry_wheelSpeed_rr', 'status_doorIsOpen', 'status_gridIsAvailable',
       'status_haltBrakeIsActive', 'status_parkBrakeIsActive',
       'temperature_ambient', 'traction_brakePressure',
       'traction_tractionForce', 'Bus_identifier', 'Bus_number'],
      dtype='object')

In [16]:
station_buses_iden = all_df.groupby(['itcs_stopName', 'Bus_identifier'], as_index=False).size()
station_buses_iden

,itcs_stopName,Bus_identifier,size
0,"Zürich, Albisrank",B183_2020-03-03_04-42-38_2020-03-03_19-44-51,20
1,"Zürich, Albisrank",B183_2020-03-06_04-53-23_2020-03-06_19-44-42,29
2,"Zürich, Albisrank",B183_2020-03-09_14-16-13_2020-03-09_19-34-17,8
3,"Zürich, Albisrank",B183_2020-03-10_04-50-03_2020-03-10_19-51-25,24
4,"Zürich, Albisrank",B183_2020-03-12_04-56-41_2020-03-12_19-44-57,25
...,...,...,...
34320,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-10-22_22-34-45_2022-10-23_02-29-59,3
34321,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-11-16_14-44-04_2022-11-16_18-00-11,4
34322,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-11-25_23-35-16_2022-11-26_03-30-39,2
34323,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-12-06_14-43-49_2022-12-06_18-22-52,4
34324,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-12-10_23-34-46_2022-12-11_03-29-05,4

In [11]:
station_buses_num = all_df.groupby(['itcs_stopName', 'Bus_number'], as_index=False).size()
station_buses_num

                      itcs_stopName Bus_number   size
0                 Zürich, Albisrank        183   6324
1                 Zürich, Albisrank        208   6199
2          Zürich, Albisriederplatz        183  11218
3          Zürich, Albisriederplatz        208   7633
4         Zürich, Altes Krematorium        183  10022
..                              ...        ...    ...
292              Zürich, Zwielplatz        208      4
293             Zürich, Zwinglihaus        183   2791
294             Zürich, Zwinglihaus        208   1231
295  Zürich,Kalkbreite/Bhf.Wiedikon        183    279
296  Zürich,Kalkbreite/Bhf.Wiedikon        208    256

[297 rows x 3 columns]

## 7. For each station, determine the buses that have stopped there at least ten times.

In [15]:
station_buses10 = station_buses_num[station_buses_num['size'] >=10]
station_buses10

                      itcs_stopName Bus_number   size
0                 Zürich, Albisrank        183   6324
1                 Zürich, Albisrank        208   6199
2          Zürich, Albisriederplatz        183  11218
3          Zürich, Albisriederplatz        208   7633
4         Zürich, Altes Krematorium        183  10022
..                              ...        ...    ...
291              Zürich, Zwielplatz        183     77
293             Zürich, Zwinglihaus        183   2791
294             Zürich, Zwinglihaus        208   1231
295  Zürich,Kalkbreite/Bhf.Wiedikon        183    279
296  Zürich,Kalkbreite/Bhf.Wiedikon        208    256

[295 rows x 3 columns]

In [18]:
station_buses10_iden = station_buses_iden[station_buses_iden['size'] >=10]
station_buses10_iden

,itcs_stopName,Bus_identifier,size
0,"Zürich, Albisrank",B183_2020-03-03_04-42-38_2020-03-03_19-44-51,20
1,"Zürich, Albisrank",B183_2020-03-06_04-53-23_2020-03-06_19-44-42,29
3,"Zürich, Albisrank",B183_2020-03-10_04-50-03_2020-03-10_19-51-25,24
4,"Zürich, Albisrank",B183_2020-03-12_04-56-41_2020-03-12_19-44-57,25
5,"Zürich, Albisrank",B183_2020-03-13_04-55-14_2020-03-13_12-05-52,15
...,...,...,...
34306,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-05-31_14-02-18_2022-05-31_21-10-17,10
34313,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-07-21_03-38-27_2022-07-21_22-42-15,28
34314,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-07-24_02-43-32_2022-07-24_22-54-18,30
34315,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-08-03_04-01-44_2022-08-03_18-51-01,20
34316,"Zürich,Kalkbreite/Bhf.Wiedikon",B208_2022-08-18_02-46-22_2022-08-18_23-06-16,29

## 8. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.

In [148]:
metadata.columns

Index(['name', 'busNumber', 'startTime_iso', 'startTime_unix', 'endTime_iso',
       'endTime_unix', 'drivenDistance', 'busRoute', 'energyConsumption',
       'itcs_numberOfPassengers_mean', 'itcs_numberOfPassengers_min',
       'itcs_numberOfPassengers_max', 'status_gridIsAvailable_mean',
       'temperature_ambient_mean', 'temperature_ambient_min',
       'temperature_ambient_max', 'ratio_EnergCons_MeanNumOfPass',
       'ratio_EnergCons_DrivDist'],
      dtype='object')

In [15]:
# Compute overall Energy consumption and overall Driven distance
group_metadata_sum = metadata.groupby(['busRoute', 'name'], as_index=False)[['energyConsumption', 'drivenDistance']].sum()
group_metadata_sum

,busRoute,name,energyConsumption,drivenDistance
0,31,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,402258500.000,59029.600
1,31,B183_2019-05-06_03-10-43_2019-05-06_19-20-34,1388008000.000,224131.600
2,31,B183_2019-12-05_16-02-38_2019-12-05_23-57-34,950027900.000,113737.900
3,31,B183_2020-11-16_15-02-32_2020-11-17_00-01-27,792612200.000,121621.700
4,31,B183_2021-04-19_02-53-42_2021-04-19_10-35-39,753582100.000,107712.700
...,...,...,...,...
1393,N4,B208_2022-01-21_23-52-47_2022-01-22_03-39-46,480832900.000,75349.670
1394,N4,B208_2022-04-01_22-29-37_2022-04-02_02-35-00,554833400.000,78118.890
1395,N4,B208_2022-04-23_22-40-20_2022-04-24_02-36-05,455813800.000,76776.520
1396,N4,B208_2022-06-17_22-38-03_2022-06-18_02-37-46,371598500.000,78130.690
1397,N4,B208_2022-10-15_22-48-49_2022-10-16_02-46-32,365690800.000,76038.860

In [16]:
# Calculate the ratio
group_metadata_sum['Ratio_EnergCons_DrivDist'] = group_metadata_sum['energyConsumption'] / group_metadata_sum['drivenDistance']

In [17]:
group_metadata_sum

,busRoute,name,energyConsumption,drivenDistance,Ratio_EnergCons_DrivDist
0,31,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,402258500.000,59029.600,6814.522
1,31,B183_2019-05-06_03-10-43_2019-05-06_19-20-34,1388008000.000,224131.600,6192.826
2,31,B183_2019-12-05_16-02-38_2019-12-05_23-57-34,950027900.000,113737.900,8352.782
3,31,B183_2020-11-16_15-02-32_2020-11-17_00-01-27,792612200.000,121621.700,6517.029
4,31,B183_2021-04-19_02-53-42_2021-04-19_10-35-39,753582100.000,107712.700,6996.223
...,...,...,...,...,...
1393,N4,B208_2022-01-21_23-52-47_2022-01-22_03-39-46,480832900.000,75349.670,6381.354
1394,N4,B208_2022-04-01_22-29-37_2022-04-02_02-35-00,554833400.000,78118.890,7102.423
1395,N4,B208_2022-04-23_22-40-20_2022-04-24_02-36-05,455813800.000,76776.520,5936.891
1396,N4,B208_2022-06-17_22-38-03_2022-06-18_02-37-46,371598500.000,78130.690,4756.114
1397,N4,B208_2022-10-15_22-48-49_2022-10-16_02-46-32,365690800.000,76038.860,4809.262

### Comment first row data 

| busRoute | name                                           | energyConsumption | drivenDistance | Ratio_EnergCons_DrivDist |
|----------|------------------------------------------------|-------------------|-----------------|---------------------------|
| 31       | B183_2019-04-30_13-22-07_2019-04-30_17-54-02 | 402,258,500.000  | 59,029.600      | 6,814.522                 |


* `busRoute`: The route number associated with the bus.
* `name`: The unique identifier for the bus, including a timestamp.
* `energyConsumption`: The total energy consumption by the bus on the specified route and time period.
* `drivenDistance`: The total distance driven by the bus on the specified route and time period.
* `Ratio_EnergCons_DrivDist`: This column represents the ratio between the overall energy consumption (energyConsumption) and the overall driven distance (drivenDistance) for the specific bus on the given route and time period. In this case, the ratio is calculated as 6814.522, indicating that for every unit of distance driven, the bus consumed approximately 6814.522 units of energy.

The `Ratio_EnergCons_DrivDist` column provides insight into the efficiency of the bus in terms of energy consumption relative to the distance it has traveled. A higher ratio suggests higher energy consumption per unit distance, while a lower ratio indicates better energy efficiency.

## 9. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.

In [18]:
group_metadata_sum.groupby('busRoute')['Ratio_EnergCons_DrivDist'].idxmin()

busRoute
31      16
32      20
33     181
46     278
72     469
83    1073
N1    1338
N2    1353
N4    1396
Name: Ratio_EnergCons_DrivDist, dtype: int64

In [19]:
group_metadata_sum.groupby('busRoute')['Ratio_EnergCons_DrivDist'].min()

busRoute
31   4779.099
32   4718.151
33   4124.415
46   4260.347
72   4302.356
83   4032.769
N1   4617.548
N2   3932.347
N4   4756.114
Name: Ratio_EnergCons_DrivDist, dtype: float64

In [20]:
group_metadata_sum.groupby('busRoute')['Ratio_EnergCons_DrivDist'].idxmax()

busRoute
31       2
32      42
33     172
46     236
72     434
83     601
N1    1340
N2    1379
N4    1390
Name: Ratio_EnergCons_DrivDist, dtype: int64

In [21]:
group_metadata_sum.groupby('busRoute')['Ratio_EnergCons_DrivDist'].max()

busRoute
31   8352.782
32   8224.941
33   8135.999
46   7930.619
72   8655.515
83   8542.956
N1   7589.040
N2   7401.677
N4   7137.138
Name: Ratio_EnergCons_DrivDist, dtype: float64

In [168]:
Ratio_EnergCons_DrivDist_min = group_metadata_sum.iloc[group_metadata_sum.groupby('busRoute')['Ratio_EnergCons_DrivDist'].idxmin(),:] 
Ratio_EnergCons_DrivDist_min = Ratio_EnergCons_DrivDist_min.rename(columns={'Ratio_EnergCons_DrivDist': 'Ratio_EnergCons_DrivDist_min'})
Ratio_EnergCons_DrivDist_min

,busRoute,name,energyConsumption,drivenDistance,Ratio_EnergCons_DrivDist_min
16,31,B208_2022-10-19_02-56-40_2022-10-19_23-17-07,1525641000.000,319231.900,4779.099
20,32,B183_2021-06-21_13-52-21_2021-06-21_20-33-28,496986000.000,105334.900,4718.151
181,33,B208_2022-08-11_03-30-14_2022-08-11_07-30-39,277535000.000,67290.760,4124.415
278,46,B183_2022-07-19_03-40-03_2022-07-19_07-02-16,234682000.000,55085.190,4260.347
469,72,B208_2022-08-15_16-27-05_2022-08-15_20-54-50,296574500.000,68933.040,4302.356
1073,83,B208_2021-09-24_03-48-42_2021-09-24_07-47-53,256710300.000,63656.090,4032.769
1338,N1,B208_2022-09-16_22-52-46_2022-09-17_02-46-42,358403100.000,77617.620,4617.548
1353,N2,B183_2022-06-11_23-44-12_2022-06-12_02-52-58,240702000.000,61210.770,3932.347
1396,N4,B208_2022-06-17_22-38-03_2022-06-18_02-37-46,371598500.000,78130.690,4756.114

In [167]:
Ratio_EnergCons_DrivDist_max = group_metadata_sum.iloc[group_metadata_sum.groupby('busRoute')['Ratio_EnergCons_DrivDist'].idxmax(),:] 
Ratio_EnergCons_DrivDist_max = Ratio_EnergCons_DrivDist_max.rename(columns={'Ratio_EnergCons_DrivDist': 'Ratio_EnergCons_DrivDist_max'})
Ratio_EnergCons_DrivDist_max

,busRoute,name,energyConsumption,drivenDistance,Ratio_EnergCons_DrivDist_max
2,31,B183_2019-12-05_16-02-38_2019-12-05_23-57-34,950027900.000,113737.900,8352.782
42,32,B208_2022-12-06_14-43-49_2022-12-06_18-22-52,426041900.000,51798.780,8224.941
172,33,B183_2022-12-09_13-58-08_2022-12-09_23-41-25,1237719000.000,152128.700,8135.999
236,46,B183_2019-12-12_04-04-58_2019-12-12_07-55-42,549065000.000,69233.560,7930.619
434,72,B183_2022-12-10_06-34-55_2022-12-10_23-26-20,2154710000.000,248940.700,8655.515
601,83,B183_2020-12-01_14-28-08_2020-12-01_19-39-08,669719600.000,78394.360,8542.956
1340,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,451916500.000,59548.570,7589.040
1379,N2,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,535095600.000,72293.830,7401.677
1390,N4,B183_2022-12-03_23-37-02_2022-12-04_03-38-15,548696400.000,76879.050,7137.138

In [174]:
# Merge keeping the full information from only one dataframe
Ratio_EnergCons_DrivDist_maxmin = pd.merge(Ratio_EnergCons_DrivDist_max, 
                                           Ratio_EnergCons_DrivDist_min[['busRoute', 'Ratio_EnergCons_DrivDist_min']], on='busRoute')
Ratio_EnergCons_DrivDist_maxmin

,busRoute,name,energyConsumption,drivenDistance,Ratio_EnergCons_DrivDist_max,Ratio_EnergCons_DrivDist_min
0,31,B183_2019-12-05_16-02-38_2019-12-05_23-57-34,950027900.000,113737.900,8352.782,4779.099
1,32,B208_2022-12-06_14-43-49_2022-12-06_18-22-52,426041900.000,51798.780,8224.941,4718.151
2,33,B183_2022-12-09_13-58-08_2022-12-09_23-41-25,1237719000.000,152128.700,8135.999,4124.415
3,46,B183_2019-12-12_04-04-58_2019-12-12_07-55-42,549065000.000,69233.560,7930.619,4260.347
4,72,B183_2022-12-10_06-34-55_2022-12-10_23-26-20,2154710000.000,248940.700,8655.515,4302.356
5,83,B183_2020-12-01_14-28-08_2020-12-01_19-39-08,669719600.000,78394.360,8542.956,4032.769
6,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,451916500.000,59548.570,7589.040,4617.548
7,N2,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,535095600.000,72293.830,7401.677,3932.347
8,N4,B183_2022-12-03_23-37-02_2022-12-04_03-38-15,548696400.000,76879.050,7137.138,4756.114

In [175]:
Ratio_EnergCons_DrivDist_maxmin['Ratio_EnergCons_DrivDist_diff'] = Ratio_EnergCons_DrivDist_maxmin['Ratio_EnergCons_DrivDist_max'] - Ratio_EnergCons_DrivDist_maxmin['Ratio_EnergCons_DrivDist_min']
Ratio_EnergCons_DrivDist_maxmin

,busRoute,name,energyConsumption,drivenDistance,Ratio_EnergCons_DrivDist_max,Ratio_EnergCons_DrivDist_min,Ratio_EnergCons_DrivDist_diff
0,31,B183_2019-12-05_16-02-38_2019-12-05_23-57-34,950027900.000,113737.900,8352.782,4779.099,3573.683
1,32,B208_2022-12-06_14-43-49_2022-12-06_18-22-52,426041900.000,51798.780,8224.941,4718.151,3506.789
2,33,B183_2022-12-09_13-58-08_2022-12-09_23-41-25,1237719000.000,152128.700,8135.999,4124.415,4011.585
3,46,B183_2019-12-12_04-04-58_2019-12-12_07-55-42,549065000.000,69233.560,7930.619,4260.347,3670.273
4,72,B183_2022-12-10_06-34-55_2022-12-10_23-26-20,2154710000.000,248940.700,8655.515,4302.356,4353.159
5,83,B183_2020-12-01_14-28-08_2020-12-01_19-39-08,669719600.000,78394.360,8542.956,4032.769,4510.188
6,N1,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,451916500.000,59548.570,7589.040,4617.548,2971.492
7,N2,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,535095600.000,72293.830,7401.677,3932.347,3469.330
8,N4,B183_2022-12-03_23-37-02_2022-12-04_03-38-15,548696400.000,76879.050,7137.138,4756.114,2381.024

## 10. Find the bus maximizing the difference computed in the previous point.

In [178]:
Ratio_EnergCons_DrivDist_maxmin.iloc[Ratio_EnergCons_DrivDist_maxmin['Ratio_EnergCons_DrivDist_diff'].idxmax(),]

busRoute                                                                   83
name                             B183_2020-12-01_14-28-08_2020-12-01_19-39-08
energyConsumption                                               669719600.000
drivenDistance                                                      78394.360
Ratio_EnergCons_DrivDist_max                                         8542.956
Ratio_EnergCons_DrivDist_min                                         4032.769
Ratio_EnergCons_DrivDist_diff                                        4510.188
Name: 5, dtype: object

## 11. Extract the rows of the details such that the `gnss_altitude` differs from the value in the preceding row. Store also the difference in the variable `altitude_variation`.

I can use `dataframes` because I want to work on each detail.

In [10]:
dataframes_filtered = {}
for trip, df in dataframes.items():
    df['altitude_variation'] = df['gnss_altitude'].diff()
    dataframes_filtered[trip] = df[df['altitude_variation'].notna()]

In [11]:
dataframes_filtered['B183_2019-04-30_03-18-56_2019-04-30_08-44-20']

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,Bus_identifier,altitude_variation
143,2019-04-30T03:21:19Z,1556594479,17476.710,397.800,1.433,0.827,0.148,-,NaN,NaN,...,3.146,0,1,0,0,292.150,0.000,3621.687,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,0.000
144,2019-04-30T03:21:20Z,1556594480,17800.860,397.800,1.433,0.827,0.148,-,NaN,NaN,...,3.234,0,1,0,0,292.150,0.000,3644.703,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,0.000
145,2019-04-30T03:21:21Z,1556594481,4461.355,397.800,1.433,0.827,0.148,-,NaN,NaN,...,3.168,0,1,0,0,292.150,0.000,-2.269,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,0.000
146,2019-04-30T03:21:22Z,1556594482,28584.730,397.800,1.433,0.827,0.148,-,NaN,NaN,...,3.236,0,1,0,0,292.150,0.000,6621.516,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,0.000
147,2019-04-30T03:21:23Z,1556594483,31207.220,397.800,1.433,0.827,0.148,-,NaN,NaN,...,3.452,0,1,0,0,292.150,0.000,7047.042,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,2019-04-30T03:25:12Z,1556594712,28578.890,399.597,2.136,0.827,0.149,-,NaN,NaN,...,0.000,0,1,0,0,287.150,119629.600,-6.655,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,-0.298
377,2019-04-30T03:25:13Z,1556594713,27972.820,399.395,2.143,0.827,0.149,-,NaN,NaN,...,0.000,0,1,0,0,287.150,245646.200,-2.601,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,-0.202
378,2019-04-30T03:25:14Z,1556594714,28028.800,399.095,2.154,0.827,0.149,-,NaN,NaN,...,0.000,0,1,0,0,287.150,245651.000,-2.601,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,-0.300
379,2019-04-30T03:25:15Z,1556594715,28376.830,398.797,2.154,0.827,0.149,-,NaN,NaN,...,0.000,0,1,0,0,287.150,244819.600,0.000,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,-0.298
380,2019-04-30T03:25:16Z,1556594716,27947.400,398.602,2.124,0.827,0.149,-,NaN,NaN,...,0.000,1,1,0,0,287.150,244166.700,0.000,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,-0.195

## 12. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of `altitude_variation`.

In [12]:
sum_abs_altitude_variation = {}

for key, df in dataframes_filtered.items():
    sum_abs_altitude_variation[key] = df['altitude_variation'].abs().sum()

In [13]:
sum_abs_altitude_variation

{'B183_2020-11-13_14-52-45_2020-11-13_19-13-45': 6191.500200000004,
 'B183_2020-10-06_04-23-44_2020-10-06_07-33-54': 4944.952000000001,
 'B183_2019-10-03_03-04-42_2019-10-03_18-38-45': 23379.3191,
 'B183_2022-05-02_03-02-19_2022-05-02_17-07-49': 22904.44570000001,
 'B183_2021-04-23_03-47-54_2021-04-23_07-48-48': 4790.904600000002,
 'B208_2022-08-15_03-31-51_2022-08-15_12-34-10': 6933.0578,
 'B183_2020-07-24_04-01-31_2020-07-24_18-04-39': 20192.256400000006,
 'B183_2022-10-28_13-36-23_2022-10-28_16-37-08': 4708.883200000003,
 'B208_2021-04-21_04-10-07_2021-04-21_18-19-32': 9371.569500000001,
 'B183_2022-07-28_14-27-33_2022-07-28_19-17-23': 7420.958099999999,
 'B183_2021-09-14_04-09-57_2021-09-14_11-46-59': 10110.696399999999,
 'B208_2022-04-01_22-29-37_2022-04-02_02-35-00': 3601.870200000001,
 'B208_2021-10-21_12-57-23_2021-10-21_18-26-47': 3162.9662000000017,
 'B208_2022-01-13_05-08-12_2022-01-13_19-18-40': 8996.4375,
 'B183_2021-12-20_04-59-40_2021-12-20_08-17-47': 4624.220800000003,
 'B183_2022-06-24_23-09-54_2022-06-25_02-17-26': 5245.106799999999,
 'B208_2021-07-29_04-10-00_2021-07-29_17-55-34': 8633.098400000006,
 'B183_2019-07-29_03-07-49_2019-07-29_17-48-21': 21523.199600000004,
 'B208_2022-12-09_23-55-12_2022-12-10_03-24-28': 2748.4225999999985,
 'B208_2022-03-25_23-51-19_2022-03-26_03-42-34': 3440.7876000000015,
 'B208_2021-06-07_03-54-28_2021-06-07_18-46-25': 9651.5333,
 'B208_2022-07-03_00-02-55_2022-07-03_03-12-10': 2799.2610000000004,
 'B208_2021-05-31_13-44-43_2021-05-31_17-59-11': 2615.929000000001,
 'B183_2022-03-05_23-41-59_2022-03-06_03-46-36': 5680.252400000001,
 'B183_2022-02-22_14-25-56_2022-02-22_19-39-28': 7129.803399999998,
 'B208_2021-07-02_09-00-47_2021-07-02_22-53-37': 9529.590300000003,
 'B183_2022-09-09_22-35-54_2022-09-10_02-22-54': 5056.738299999996,
 'B183_2020-07-23_04-01-44_2020-07-23_18-09-31': 21240.140400000004,
 'B208_2022-06-24_22-37-03_2022-06-25_02-28-56': 3171.917999999999,
 'B183_2019-07-31_02-57-04_2019-07-31_23-04-20': 29969.444500000005,
 'B183_2022-03-30_03-00-04_2022-03-30_18-19-09': 25603.04,
 'B208_2021-07-06_04-17-44_2021-07-06_07-33-46': 2091.4833999999983,
 'B183_2021-03-12_05-09-47_2021-03-12_19-31-57': 21973.386599999998,
 'B208_2022-04-22_13-18-07_2022-04-22_18-35-24': 5142.768199999999,
 'B183_2020-03-18_14-48-10_2020-03-18_18-54-16': 6090.912000000003,
 'B183_2021-10-25_04-10-19_2021-10-25_18-04-41': 16656.166400000002,
 'B183_2021-09-30_13-15-06_2021-09-30_18-26-50': 7867.758600000004,
 'B183_2021-10-21_03-47-50_2021-10-21_07-51-40': 4966.122399999998,
 'B208_2021-06-24_03-49-51_2021-06-24_07-17-56': 2893.441109999999,
 'B208_2022-05-13_04-08-21_2022-05-13_18-09-40': 9017.576200000005,
 'B183_2020-08-20_04-00-07_2020-08-20_17-21-22': 19128.727500000005,
 'B183_2022-09-09_04-09-04_2022-09-09_18-18-59': 17469.35530000001,
 'B208_2022-04-29_03-54-00_2022-04-29_07-15-18': 2271.308900000001,
 'B183_2021-06-09_04-06-58_2021-06-09_07-10-50': 4182.183900000003,
 'B183_2021-07-07_03-58-49_2021-07-07_07-47-02': 5102.094600000005,
 'B208_2022-08-11_03-30-14_2022-08-11_07-30-39': 3168.5607000000027,
 'B208_2021-06-19_05-40-27_2021-06-19_18-29-45': 8253.1783,
 'B183_2022-08-02_07-06-59_2022-08-02_23-05-03': 24189.30600000001,
 'B183_2019-07-26_03-53-35_2019-07-26_07-11-31': 4716.587600000003,
 'B208_2022-06-20_04-17-02_2022-06-20_18-03-25': 8949.857130000004,
 'B183_2019-08-27_03-03-30_2019-08-27_06-57-39': 6538.634,
 'B183_2022-09-24_08-22-59_2022-09-24_23-37-52': 24306.37920000001,
 'B208_2021-07-13_13-40-17_2021-07-13_17-57-59': 2789.295399999999,
 'B208_2022-11-24_04-52-09_2022-11-24_19-34-19': 10812.153199999997,
 'B183_2020-09-21_13-58-28_2020-09-21_18-16-41': 5927.317500000001,
 'B208_2022-04-20_13-33-40_2022-04-20_17-28-38': 3069.4536000000003,
 'B208_2021-10-01_04-02-57_2021-10-01_07-19-23': 2139.2706000000007,
 'B183_2020-10-17_05-44-37_2020-10-17_20-38-01': 22260.18960000001,
 'B208_2021-05-19_04-03-46_2021-05-19_07-10-59': 2281.2466999999997,
 'B183_2021-06-30_03-58-59_2021-06-30_17-21-19': 18639.247499999994,
 'B183_2021-04-14_03-59-54_2021-04-14_18-18-05': 20085.9163,
 'B208_2021-12-17_14-46-08_2021-12-17_19-00-46': 3099.5523999999978,
 'B183_2019-05-18_07-41-27_2019-05-18_23-02-16': 36330.06690000001,
 'B183_2019-12-27_04-24-52_2019-12-27_18-28-07': 22706.8862,
 'B183_2020-09-17_13-45-24_2020-09-17_17-55-57': 6215.860999999999,
 'B183_2022-09-28_03-10-04_2022-09-28_17-32-10': 18578.459600000006,
 'B183_2021-11-07_04-18-41_2021-11-07_08-24-34': 5176.770000000002,
 'B183_2022-07-14_04-00-53_2022-07-14_14-31-09': 15929.085800000004,
 'B183_2019-12-01_16-50-02_2019-12-01_23-30-17': 10684.882700000002,
 'B183_2021-04-27_03-32-52_2021-04-27_23-09-41': 27538.95770000001,
 'B208_2022-01-08_23-37-37_2022-01-09_03-50-40': 5290.711300000001,
 'B183_2020-04-27_03-48-20_2020-04-27_18-13-47': 20338.214400000004,
 'B208_2021-06-21_04-06-24_2021-06-21_18-26-21': 9493.0206,
 'B208_2022-09-22_03-56-12_2022-09-22_07-45-03': 3112.5846240000037,
 'B183_2021-05-22_03-32-33_2021-05-22_18-22-39': 19855.883800000007,
 'B208_2022-09-14_08-02-59_2022-09-14_18-08-51': 6055.7179,
 'B183_2020-05-15_03-36-03_2020-05-15_07-48-30': 5292.579200000002,
 'B183_2021-10-09_05-47-06_2021-10-09_18-39-35': 16244.756500000003,
 'B183_2022-04-05_04-05-14_2022-04-05_18-04-05': 19977.12610000001,
 'B183_2020-01-11_03-56-55_2020-01-11_23-30-12': 30853.7188,
 'B183_2021-10-22_13-48-24_2021-10-22_18-15-09': 5249.412500000002,
 'B183_2022-06-17_13-45-35_2022-06-17_18-06-53': 5476.295000000002,
 'B208_2021-06-14_13-30-40_2021-06-14_18-34-31': 3064.8596000000016,
 'B208_2022-04-19_04-10-54_2022-04-19_18-20-56': 9358.928600000001,
 'B208_2022-08-20_05-40-25_2022-08-20_18-42-51': 8401.130999999994,
 'B183_2022-06-23_03-04-04_2022-06-23_07-01-53': 6136.908000000003,
 'B183_2019-09-30_03-09-12_2019-09-30_17-56-06': 22858.78720000001,
 'B183_2019-12-02_04-28-43_2019-12-02_08-38-37': 5554.641500000001,
 'B208_2021-09-15_04-02-47_2021-09-15_21-13-41': 13745.574599999994,
 'B183_2022-02-16_05-20-34_2022-02-16_08-31-25': 4774.245699999999,
 'B208_2021-11-06_06-59-01_2021-11-06_19-17-29': 7854.237100000004,
 'B208_2021-07-27_03-54-32_2021-07-27_18-41-22': 9937.940699999992,
 'B208_2022-05-26_03-08-13_2022-05-26_22-44-16': 14864.98599999999,
 'B208_2022-04-17_22-35-57_2022-04-18_02-23-27': 3944.871,
 'B183_2020-08-21_03-53-33_2020-08-21_18-40-25': 21953.680200000006,
 'B183_2022-12-08_14-52-13_2022-12-08_22-06-38': 10104.917000000003,
 'B208_2021-06-15_04-11-02_2021-06-15_07-12-01': 2043.745699999998,
 'B208_2022-08-06_03-08-24_2022-08-06_18-54-36': 12581.814199999999,
 'B183_2022-10-31_04-21-29_2022-10-31_19-33-06': 24055.25720000001,
 'B183_2020-07-29_03-01-15_2020-07-29_20-36-59': 26571.355200000005,
 'B183_2022-09-20_06-24-27_2022-09-20_18-59-06': 18561.159700000007,
 'B183_2020-05-10_07-50-17_2020-05-10_22-37-02': 22139.1593,
 'B208_2022-05-02_04-20-13_2022-05-02_18-10-10': 9279.081500000002,
 'B208_2022-01-04_14-34-01_2022-01-04_18-58-07': 2876.910100000001,
 'B183_2019-12-06_14-36-11_2019-12-06_23-45-14': 15194.016100000006,
 'B208_2021-05-28_04-16-45_2021-05-28_18-04-02': 8532.1008,
 'B208_2021-08-03_13-30-37_2021-08-03_18-33-27': 3341.4233,
 'B208_2022-07-05_04-13-54_2022-07-05_18-07-37': 8847.408100000006,
 'B183_2022-06-22_03-55-12_2022-06-22_18-41-12': 21845.53260000001,
 'B183_2019-12-23_03-52-08_2019-12-23_18-10-26': 18586.2393,
 'B208_2022-10-21_13-49-52_2022-10-21_17-00-33': 2297.6812999999993,
 'B183_2022-03-29_03-07-56_2022-03-29_19-02-58': 26061.839500000002,
 'B183_2019-10-12_07-42-09_2019-10-12_22-06-42': 21024.74480000001,
 'B208_2022-06-23_04-07-30_2022-06-23_18-05-05': 8966.7245,
 'B183_2022-09-21_04-21-57_2022-09-21_17-19-17': 17731.61930000001,
 'B208_2022-04-25_04-23-12_2022-04-25_07-32-04': 2379.1132000000016,
 'B183_2022-05-04_04-01-17_2022-05-04_17-22-01': 19657.072700000008,
 'B183_2022-01-20_04-52-20_2022-01-20_19-43-31': 18840.256999999994,
 'B183_2019-12-16_05-25-34_2019-12-16_23-50-35': 28732.644400000012,
 'B183_2020-07-25_05-41-55_2020-07-25_18-39-54': 17631.9012,
 'B208_2022-08-18_02-46-22_2022-08-18_23-06-16': 15036.774600000004,
 'B208_2022-10-17_04-01-16_2022-10-17_23-25-00': 15658.897499999997,
 'B183_2022-01-28_05-09-26_2022-01-29_00-07-48': 29338.49620000001,
 'B183_2019-07-14_03-13-29_2019-07-14_22-54-48': 27825.5311,
 'B183_2020-10-15_13-20-06_2020-10-15_18-29-36': 7697.996999999998,
 'B183_2022-06-09_13-45-30_2022-06-09_17-55-29': 5215.127600000005,
 'B208_2021-11-23_05-15-44_2021-11-23_19-06-38': 9115.199899999998,
 'B208_2022-01-19_14-17-34_2022-01-19_19-27-38': 3634.352399999999,
 'B183_2021-11-17_14-14-52_2021-11-17_19-28-35': 6203.7326,
 'B183_2019-08-03_02-51-49_2019-08-03_22-55-16': 29718.798200000012,
 'B183_2022-11-12_00-07-31_2022-11-12_03-13-05': 5285.534500000002,
 'B208_2022-01-07_14-15-30_2022-01-07_19-29-28': 3910.4684999999986,
 'B183_2021-06-10_13-20-59_2021-06-10_18-31-34': 9277.955599999996,
 'B183_2022-02-15_05-23-27_2022-02-15_08-38-02': 5559.2687000000005,
 'B208_2021-11-14_03-38-33_2021-11-14_23-54-29': 16315.037599999996,
 'B183_2022-03-25_14-45-29_2022-03-25_18-57-14': 6778.0537,
 'B183_2019-06-18_14-01-09_2019-06-18_17-19-46': 7527.9257,
 'B183_2020-02-28_04-56-05_2020-02-28_20-31-21': 23894.604399999997,
 'B183_2022-10-07_11-00-55_2022-10-07_22-39-37': 18291.8914,
 'B208_2021-09-25_05-59-40_2021-09-25_18-15-31': 7604.213100000003,
 'B183_2021-10-04_04-11-32_2021-10-04_18-19-08': 19540.896000000004,
 'B183_2020-05-01_02-57-52_2020-05-01_22-51-26': 28517.397200000014,
 'B183_2021-07-27_13-57-41_2021-07-27_23-08-36': 13443.597800000007,
 'B183_2022-11-11_03-50-59_2022-11-11_19-59-40': 26518.488900000008,
 'B208_2022-05-18_03-53-54_2022-05-18_18-39-30': 9609.045199999999,
 'B208_2022-03-30_13-30-13_2022-03-30_18-35-25': 3707.998299999999,
 'B183_2022-02-15_14-31-26_2022-02-15_19-43-41': 8374.075600000006,
 'B208_2022-10-25_03-17-47_2022-10-25_07-36-19': 3635.070900000001,
 'B183_2021-11-13_08-42-37_2021-11-14_00-02-57': 21601.120400000007,
 'B183_2021-10-31_08-40-29_2021-11-01_00-00-09': 24906.557600000007,
 'B183_2019-05-14_03-33-11_2019-05-14_12-48-45': 17362.5863,
 'B183_2022-01-25_14-31-30_2022-01-25_19-37-07': 7638.643800000003,
 'B208_2022-11-26_06-44-50_2022-11-26_19-43-46': 8519.001499999995,
 'B183_2019-10-11_13-45-09_2019-10-11_17-23-04': 5186.7082,
 'B183_2022-08-16_13-58-20_2022-08-16_19-35-42': 6867.941700000001,
 'B183_2021-10-11_04-13-09_2021-10-11_07-32-22': 4277.4539,
 'B208_2021-11-24_04-57-36_2021-11-24_18-20-50': 9238.625399999997,
 'B208_2021-05-11_13-53-34_2021-05-11_18-12-32': 2865.0314000000017,
 'B208_2021-05-25_04-22-38_2021-05-25_07-32-26': 1947.9705000000013,
 'B183_2022-05-22_03-15-35_2022-05-22_22-39-10': 22020.08600000001,
 'B183_2021-05-05_13-58-31_2021-05-05_18-13-58': 6629.6882000000005,
 'B183_2021-11-11_12-14-29_2021-11-11_23-31-45': 15455.2032,
 'B183_2021-07-06_13-10-15_2021-07-06_17-18-37': 4894.401199999998,
 'B208_2022-07-12_04-13-19_2022-07-12_18-07-24': 8688.615299999998,
 'B208_2022-07-14_03-56-18_2022-07-14_07-18-54': 2098.3750999999993,
 'B183_2022-06-16_04-23-49_2022-06-16_07-33-55': 3702.320100000003,
 'B183_2022-01-05_05-02-42_2022-01-05_19-18-00': 19903.677700000007,
 'B183_2021-09-13_04-17-46_2021-09-13_18-04-04': 18640.624,
 'B183_2022-06-03_22-41-21_2022-06-04_02-46-46': 6728.788400000003,
 'B183_2021-07-02_04-23-09_2021-07-02_07-32-53': 4354.367199999999,
 'B183_2019-05-15_03-04-56_2019-05-15_06-58-44': 9577.5312,
 'B183_2021-03-01_14-37-26_2021-03-01_18-57-49': 6748.390500000003,
 'B183_2019-09-25_02-54-22_2019-09-25_07-06-11': 6648.959800000001,
 'B183_2021-04-29_13-45-03_2021-04-29_17-22-01': 4737.959600000002,
 'B208_2021-09-06_04-10-21_2021-09-06_11-37-26': 5147.314700000002,
 'B208_2021-05-19_12-59-52_2021-05-19_18-27-23': 3723.2065999999995,
 'B183_2021-09-08_16-24-47_2021-09-08_21-24-47': 8015.3858,
 'B183_2021-12-29_14-22-59_2021-12-29_19-34-35': 8249.948000000004,
 'B183_2022-08-01_07-39-43_2022-08-01_23-21-11': 21857.2122,
 'B208_2022-09-23_13-21-37_2022-09-23_23-23-07': 7628.3802,
 'B208_2022-05-13_22-36-01_2022-05-14_02-37-00': 4240.6853999999985,
 'B183_2020-09-15_04-02-50_2020-09-15_18-04-26': 20036.6898,
 'B183_2022-05-03_13-46-19_2022-05-03_17-57-42': 6239.464000000002,
 'B183_2021-10-05_13-53-20_2021-10-05_18-14-53': 6729.5438,
 'B208_2021-09-01_04-04-04_2021-09-01_07-17-24': 2272.0954999999985,
 'B183_2019-05-01_05-58-51_2019-05-01_22-32-30': 637.4071,
 'B208_2022-07-26_04-47-30_2022-07-26_22-48-13': 14531.426899999999,
 'B183_2020-08-01_08-08-24_2020-08-01_23-02-34': 21650.339100000005,
 'B208_2022-05-24_02-50-03_2022-05-24_18-51-31': 11907.162199999999,
 'B208_2022-04-08_04-03-09_2022-04-08_07-18-37': 2111.866100000001,
 'B183_2020-03-29_07-29-56_2020-03-29_23-13-31': 22481.52980000001,
 'B183_2021-04-21_03-19-54_2021-04-21_23-17-12': 28766.958000000013,
 'B183_2022-10-25_03-04-30_2022-10-25_23-23-38': 31644.592000000004,
 'B208_2021-06-24_13-16-29_2021-06-24_18-25-32': 3593.269500000004,
 'B183_2022-10-15_05-39-57_2022-10-15_17-48-39': 16622.810100000002,
 'B183_2022-01-21_04-14-27_2022-01-21_23-02-23': 29511.002800000006,
 'B208_2022-12-07_05-13-02_2022-12-07_19-19-53': 8617.675200000001,
 'B208_2021-12-19_00-01-44_2021-12-19_03-26-53': 2835.9199000000026,
 'B183_2021-07-26_13-32-08_2021-07-26_18-32-49': 6848.516800000005,
 'B183_2019-12-25_03-49-19_2019-12-25_19-40-38': 23337.741599999998,
 'B208_2021-06-15_13-17-45_2021-06-15_18-25-30': 3287.8445000000006,
 'B183_2022-10-30_04-08-55_2022-10-31_00-07-16': 29532.573400000005,
 'B183_2022-11-07_04-20-31_2022-11-07_17-59-12': 21986.18770000001,
 'B208_2021-09-07_04-08-47_2021-09-07_18-18-25': 9636.844199999996,
 'B183_2022-10-10_13-39-48_2022-10-10_22-41-23': 14541.0544,
 'B183_2021-09-23_03-54-23_2021-09-23_18-41-20': 20819.918200000007,
 'B183_2020-03-20_05-00-11_2020-03-20_09-02-26': 5799.769600000003,
 'B183_2021-12-29_05-04-05_2021-12-29_08-16-57': 4544.906500000001,
 'B183_2020-10-02_13-44-08_2020-10-02_17-23-39': 5958.5918,
 'B208_2021-11-09_05-13-31_2021-11-09_19-18-01': 8685.033699999996,
 'B208_2021-09-21_13-49-30_2021-09-21_16-59-22': 2428.3683000000005,
 'B208_2021-09-02_06-17-03_2021-09-02_18-39-06': 7903.998900000007,
 'B183_2020-05-17_02-51-55_2020-05-17_14-49-29': 15934.298100000004,
 'B208_2021-05-22_05-38-43_2021-05-22_18-29-40': 7944.925400000002,
 'B208_2022-10-14_03-01-03_2022-10-14_18-21-31': 11657.2663,
 'B183_2022-06-13_03-02-30_2022-06-13_17-09-20': 18661.169000000005,
 'B208_2021-06-28_03-59-29_2021-06-28_17-22-58': 8843.102199999998,
 'B183_2022-09-03_05-48-59_2022-09-03_18-44-18': 16827.2661,
 'B183_2020-03-14_06-41-47_2020-03-14_19-42-49': 18078.027900000005,
 'B183_2022-02-16_14-59-10_2022-02-16_19-11-33': 6493.678499999998,
 'B208_2021-10-20_13-56-06_2021-10-20_18-14-03': 2655.4933999999967,
 'B208_2021-08-03_04-03-19_2021-08-03_07-16-13': 2293.6732000000006,
 'B183_2019-10-14_12-55-39_2019-10-14_22-36-01': 14487.626399999996,
 'B208_2022-07-21_03-38-27_2022-07-21_22-42-15': 13907.252799999997,
 'B208_2022-11-25_23-35-16_2022-11-26_03-30-39': 3700.910100000001,
 'B183_2022-07-31_03-09-26_2022-07-31_22-30-26': 28107.827300000008,
 'B183_2021-03-17_14-36-27_2021-03-17_18-55-30': 6312.236500000003,
 'B208_2021-03-29_13-18-16_2021-03-29_18-52-53': 2748.726099999998,
 'B208_2022-05-19_13-58-16_2022-05-19_18-13-36': 3023.4804000000004,
 'B208_2022-10-27_03-19-18_2022-10-27_21-32-48': 12877.864099999999,
 'B208_2022-05-11_13-23-42_2022-05-11_16-36-25': 2109.123499999997,
 'B183_2021-04-13_04-01-38_2021-04-13_18-08-48': 18533.116500000004,
 'B208_2021-06-02_03-47-25_2021-06-02_07-46-54': 2553.8934000000004,
 'B183_2021-11-19_05-16-13_2021-11-19_19-08-46': 16399.591799999995,
 'B183_2020-04-14_12-49-47_2020-04-14_17-27-05': 6735.486299999997,
 'B183_2022-06-24_04-18-49_2022-06-24_18-07-07': 20293.9661,
 'B208_2022-07-29_02-50-57_2022-07-29_18-56-18': 12862.939699999999,
 'B183_2020-04-18_07-40-31_2020-04-18_18-57-04': 10159.725199999999,
 'B183_2022-09-15_04-18-16_2022-09-15_18-06-01': 16937.521399999998,
 'B183_2021-07-09_13-57-46_2021-07-09_18-10-55': 6063.642900000001,
 'B183_2022-07-19_13-38-08_2022-07-19_16-40-20': 4296.4097,
 'B183_2020-10-05_04-12-22_2020-10-05_09-27-10': 7170.472500000001,
 'B208_2022-09-19_04-09-56_2022-09-19_18-23-16': 8923.196399999999,
 'B208_2021-06-30_03-59-34_2021-06-30_18-19-21': 8743.787199999999,
 'B208_2022-05-07_05-43-27_2022-05-07_17-59-59': 7732.683800000001,
 'B208_2022-09-05_04-15-25_2022-09-05_18-21-58': 6825.393099999999,
 'B208_2022-08-04_03-10-21_2022-08-04_17-32-31': 11114.3095,
 'B208_2022-06-01_04-01-31_2022-06-01_07-08-43': 1922.0110000000009,
 'B183_2021-06-09_13-48-54_2021-06-09_18-12-01': 6138.888300000004,
 'B208_2022-04-13_06-15-51_2022-04-13_18-18-22': 8137.928500000007,
 'B208_2022-10-03_03-45-35_2022-10-03_18-40-56': 9161.039999999994,
 'B183_2019-08-07_02-50-33_2019-08-07_22-56-29': 29782.635000000002,
 'B183_2021-11-12_04-31-00_2021-11-12_19-57-06': 19666.443800000012,
 'B183_2022-01-31_04-24-05_2022-01-31_08-34-25': 6618.722900000001,
 'B208_2022-06-18_22-44-41_2022-06-19_02-29-34': 3308.786899999999,
 'B183_2022-07-15_03-47-32_2022-07-15_07-49-08': 6474.555400000003,
 'B183_2021-11-20_06-41-07_2021-11-20_19-05-09': 16037.911199999997,
 'B208_2021-12-27_05-08-15_2021-12-27_19-07-04': 9995.7522,
 'B183_2019-06-21_02-54-48_2019-06-21_22-37-37': 29032.16600000001,
 'B208_2021-12-20_14-14-38_2021-12-20_19-28-22': 3337.5977000000016,
 'B208_2021-11-19_14-00-30_2021-11-19_19-26-57': 4061.9065000000032,
 'B183_2020-05-18_04-01-11_2020-05-18_17-22-06': 16508.870600000006,
 'B183_2021-09-27_03-34-27_2021-09-27_07-47-51': 4986.124099999998,
 'B183_2020-05-02_02-59-46_2020-05-02_23-07-00': 31645.546299999998,
 'B183_2022-09-29_03-45-38_2022-09-29_22-28-22': 23929.808700000012,
 'B208_2021-12-16_04-54-48_2021-12-16_19-42-04': 9865.387900000002,
 'B208_2022-10-15_22-48-49_2022-10-16_02-46-32': 3140.7374999999997,
 'B183_2020-01-13_03-51-41_2020-01-13_19-55-56': 25501.531800000008,
 'B183_2022-11-12_23-52-58_2022-11-13_03-21-31': 4976.293800000001,
 'B208_2021-09-24_13-57-38_2021-09-24_18-11-39': 2794.9800999999975,
 'B208_2022-09-07_04-03-19_2022-09-07_18-19-46': 9272.3371,
 'B183_2020-11-19_14-58-25_2020-11-19_19-10-13': 5334.0718,
 'B183_2019-05-03_02-50-21_2019-05-03_05-53-20': 4074.4801999999995,
 'B208_2021-05-03_13-54-34_2021-05-03_21-01-54': 5170.387200000004,
 'B208_2022-07-02_05-39-56_2022-07-02_18-00-07': 7852.561099999999,
 'B183_2019-12-01_04-23-27_2019-12-01_16-12-22': 17200.685500000003,
 'B183_2019-06-26_02-52-08_2019-06-26_12-11-06': 16257.3712,
 'B183_2019-12-20_03-53-24_2019-12-20_19-57-32': 25681.837900000002,
 'B183_2022-02-21_05-24-30_2022-02-21_08-32-19': 3956.3860999999997,
 'B183_2020-12-02_05-15-27_2020-12-02_08-36-12': 4677.806599999998,
 'B183_2022-07-24_03-19-02_2022-07-24_15-17-55': 18712.89020000001,
 'B208_2021-07-22_13-30-55_2021-07-22_18-33-50': 3311.2272000000003,
 'B208_2021-12-28_04-58-43_2021-12-28_19-19-07': 9098.487199999996,
 'B183_2021-03-15_05-19-29_2021-03-15_08-36-36': 4409.084000000003,
 'B183_2019-10-18_02-51-59_2019-10-18_07-12-20': 7195.495099999999,
 'B208_2021-09-16_03-31-24_2021-09-16_18-52-34': 11545.598400000008,
 'B183_2022-12-09_13-58-08_2022-12-09_23-41-25': 13481.526200000004,
 'B208_2021-09-14_03-32-49_2021-09-14_23-03-18': 15917.901299999994,
 'B183_2022-07-11_04-17-16_2022-07-11_18-12-23': 20475.093000000004,
 'B183_2022-11-29_05-02-50_2022-11-29_17-55-21': 20818.866400000003,
 'B208_2022-07-14_13-09-32_2022-07-14_17-55-09': 3863.888899999999,
 'B183_2021-06-22_02-59-51_2021-06-22_06-56-42': 6377.149199999998,
 'B183_2019-12-31_05-17-34_2020-01-01_03-11-05': 30978.16460000001,
 'B208_2022-12-01_05-19-41_2022-12-01_18-20-57': 7894.776199999995,
 'B183_2022-02-14_04-59-12_2022-02-14_08-17-25': 4856.5571999999975,
 'B183_2021-04-22_03-12-11_2021-04-22_17-29-02': 19810.307500000006,
 'B208_2022-03-24_03-50-55_2022-03-24_19-59-29': 13402.092199999997,

## 13.  For each month of the year, compute the average ambient temperature

In [16]:
all_df = pd.read_csv(config['path_ZTbus_alldf'])
all_df.head()

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,Bus_identifier
0,2020-11-13T14:52:45Z,1605279165,9346.241,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,856666.700,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
1,2020-11-13T14:52:46Z,1605279166,9819.954,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,860000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
2,2020-11-13T14:52:47Z,1605279167,9023.815,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,861947.100,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
3,2020-11-13T14:52:48Z,1605279168,9187.615,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,865000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
4,2020-11-13T14:52:49Z,1605279169,9960.241,429.200,1.560,0.827,0.148,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,870000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45

In [14]:
print(f"min: {dataframes['B183_2021-10-19_03-07-27_2021-10-19_21-38-02']['temperature_ambient'].min()}")
print(f"max: {dataframes['B183_2021-10-19_03-07-27_2021-10-19_21-38-02']['temperature_ambient'].max()}")
print(f"mean: {dataframes['B183_2021-10-19_03-07-27_2021-10-19_21-38-02']['temperature_ambient'].mean()}")

min: 281.15
max: 292.15
mean: 286.97774894201336

In [28]:
metadata[metadata['name'] == 'B183_2021-10-19_03-07-27_2021-10-19_21-38-02']

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
497,B183_2021-10-19_03-07-27_2021-10-19_21-38-02,183,2021-10-19T03:07:27Z,1634612847,2021-10-19T21:38:02Z,1634679482,289868.300,33,1616199000.000,15.302,0,43,0.934,286.995,281.150,292.150

I can use directly metadata and consider `temperature_ambient_mean`.

In [33]:
metadata['startTime_iso'] = pd.to_datetime(metadata['startTime_iso'])

In [34]:
metadata.dtypes

name                                         object
busNumber                                     int64
startTime_iso                   datetime64[ns, UTC]
startTime_unix                                int64
endTime_iso                                  object
endTime_unix                                  int64
drivenDistance                              float64
busRoute                                     object
energyConsumption                           float64
itcs_numberOfPassengers_mean                float64
itcs_numberOfPassengers_min                   int64
itcs_numberOfPassengers_max                   int64
status_gridIsAvailable_mean                 float64
temperature_ambient_mean                    float64
temperature_ambient_min                     float64
temperature_ambient_max                     float64
dtype: object

In [35]:
metadata.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30 03:18:56+00:00,1556594336,2019-04-30T08:44:20Z,1556613860,77213.870,NaN,478585200.000,5.539,0,20,0.741,282.378,281.150,293.150
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30 13:22:07+00:00,1556630527,2019-04-30T17:54:02Z,1556646842,59029.600,31,402258500.000,33.115,4,74,0.855,287.544,285.150,293.150
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01 05:58:51+00:00,1556690331,2019-05-01T22:32:30Z,1556749950,240900.400,33,1445733000.000,19.689,0,55,0.778,288.749,280.150,294.150
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03 02:50:21+00:00,1556851821,2019-05-03T05:53:20Z,1556862800,42565.480,NaN,281986700.000,1.685,0,8,0.767,282.413,281.150,292.150
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03 15:41:57+00:00,1556898117,2019-05-03T23:06:24Z,1556924784,125277.200,72,620725800.000,23.754,1,67,0.907,284.733,282.150,287.150

In [41]:
metadata.groupby(metadata['startTime_iso'].dt.month)['temperature_ambient_mean'].mean()

startTime_iso
1    278.958
2    280.530
3    283.319
4    286.608
5    290.052
6    296.143
7    297.377
8    295.848
9    292.362
10   287.714
11   281.884
12   279.382
Name: temperature_ambient_mean, dtype: float64

## 14. For each **bus** compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.

"total time": sum of all the individual durations when the halt brake or park brake is active across all occurrences.

In [14]:
all_df = pd.read_csv(config['path_ZTbus_alldf'])
all_df.head()

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,Bus_identifier
0,2020-11-13T14:52:45Z,1605279165,9346.241,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,856666.700,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
1,2020-11-13T14:52:46Z,1605279166,9819.954,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,860000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
2,2020-11-13T14:52:47Z,1605279167,9023.815,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,861947.100,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
3,2020-11-13T14:52:48Z,1605279168,9187.615,NaN,NaN,NaN,NaN,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,865000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45
4,2020-11-13T14:52:49Z,1605279169,9960.241,429.200,1.560,0.827,0.148,-,NaN,NaN,...,0.000,0.000,1.000,0.000,1.000,0.000,292.150,870000.000,0.000,B183_2020-11-13_14-52-45_2020-11-13_19-13-45

In [15]:
all_df.shape

(48674462, 27)

In [16]:
all_df.columns

Index(['time_iso', 'time_unix', 'electric_powerDemand', 'gnss_altitude',
       'gnss_course', 'gnss_latitude', 'gnss_longitude', 'itcs_busRoute',
       'itcs_numberOfPassengers', 'itcs_stopName',
       'odometry_articulationAngle', 'odometry_steeringAngle',
       'odometry_vehicleSpeed', 'odometry_wheelSpeed_fl',
       'odometry_wheelSpeed_fr', 'odometry_wheelSpeed_ml',
       'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
       'odometry_wheelSpeed_rr', 'status_doorIsOpen', 'status_gridIsAvailable',
       'status_haltBrakeIsActive', 'status_parkBrakeIsActive',
       'temperature_ambient', 'traction_brakePressure',
       'traction_tractionForce', 'Bus_identifier'],
      dtype='object')

In [17]:
all_df['status_haltBrakeIsActive'].unique(), all_df['status_parkBrakeIsActive'].unique()
# status_haltBrakeIsActive active when == 1
# status_parkBrakeIsActive active when == 1

(array([ 1.,  0., nan]), array([ 0.,  1., nan]))

In [19]:
all_df['Bus_number'] = all_df['Bus_identifier'].str.extract(r'B(\d+)')
all_df[['Bus_number', 'Bus_identifier']].head()

  Bus_number                                Bus_identifier
0        183  B183_2020-11-13_14-52-45_2020-11-13_19-13-45
1        183  B183_2020-11-13_14-52-45_2020-11-13_19-13-45
2        183  B183_2020-11-13_14-52-45_2020-11-13_19-13-45
3        183  B183_2020-11-13_14-52-45_2020-11-13_19-13-45
4        183  B183_2020-11-13_14-52-45_2020-11-13_19-13-45

In [20]:
halt_brake_active = all_df[all_df['status_haltBrakeIsActive'] == 1][['status_haltBrakeIsActive', 'Bus_number', 'time_unix']]
total_halt_brake_time = halt_brake_active.groupby('Bus_number', as_index=False)['time_unix'].sum()
total_halt_brake_time.rename(columns={'time_unix': 'Total_time_haltBrakeIsActive'}, inplace=True)
total_halt_brake_time

  Bus_number  Total_time_haltBrakeIsActive
0        183             12798119216668360
1        208              9772182191149324

In [21]:
park_brake_active = all_df[all_df['status_parkBrakeIsActive'] == 1][['status_parkBrakeIsActive', 'Bus_number', 'time_unix']]
total_park_brake_time = park_brake_active.groupby('Bus_number', as_index=False)['time_unix'].sum()
total_park_brake_time.rename(columns={'time_unix': 'Total_time_parkBrakeIsActive'}, inplace=True)
total_park_brake_time

  Bus_number  Total_time_parkBrakeIsActive
0        183              5145602662745631
1        208              3006515883060711

In [22]:
total_halt_park_brake_time = pd.merge(total_halt_brake_time, total_park_brake_time, on='Bus_number')
total_halt_park_brake_time

  Bus_number  Total_time_haltBrakeIsActive  Total_time_parkBrakeIsActive
0        183             12798119216668360              5145602662745631
1        208              9772182191149324              3006515883060711

In [23]:
total_halt_park_brake_time['Ratio'] = total_halt_park_brake_time['Total_time_haltBrakeIsActive'] / total_halt_park_brake_time['Total_time_parkBrakeIsActive']
total_halt_park_brake_time

,Bus_number,Total_time_haltBrakeIsActive,Total_time_parkBrakeIsActive,Ratio
0,183,12798119216668360,5145602662745631,2.487
1,208,9772182191149324,3006515883060711,3.250

## 15. For each pair of stops that are consecutive in all trips, compute the average speed achieved when going from the first to the second stop.

To calculate the average speed between consecutive stops across I follow the following steps: 

* Iterate through each DataFrame in the `dataframes`.
* For each DataFrame, sort the rows based on the `time_iso` column to ensure that the data is ordered by time.
* Iterate through the rows of each DataFrame and calculate the speed between consecutive stops.
* Keep track of the total speed and the count of observations for each pair of consecutive stops.
* After processing all DataFrames, calculate the average speed for each pair of stops.

In [23]:
dataframes['B183_2019-05-03_02-50-21_2019-05-03_05-53-20'].columns

Index(['time_iso', 'time_unix', 'electric_powerDemand', 'gnss_altitude',
       'gnss_course', 'gnss_latitude', 'gnss_longitude', 'itcs_busRoute',
       'itcs_numberOfPassengers', 'itcs_stopName',
       'odometry_articulationAngle', 'odometry_steeringAngle',
       'odometry_vehicleSpeed', 'odometry_wheelSpeed_fl',
       'odometry_wheelSpeed_fr', 'odometry_wheelSpeed_ml',
       'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
       'odometry_wheelSpeed_rr', 'status_doorIsOpen', 'status_gridIsAvailable',
       'status_haltBrakeIsActive', 'status_parkBrakeIsActive',
       'temperature_ambient', 'traction_brakePressure',
       'traction_tractionForce'],
      dtype='object')

In [24]:
dataframes['B183_2019-05-03_02-50-21_2019-05-03_05-53-20']['itcs_stopName'].unique()

array(['-', 'Zürich, Bahnhof Tiefenbrunnen', 'Zürich, Wildbachstrasse',
       'Zürich, Fröhlichstrasse', 'Zürich, Höschgasse',
       'Zürich, Botanischer Garten', 'Zürich, Hegibachplatz',
       'Zürich, Freiestrasse', 'Zürich, Klusplatz',
       'Zürich, Hölderlinsteig', 'Zürich, Klosbach', 'Zürich, Hofstrasse',
       'Zürich, Kirche Fluntern', 'Zürich, Hinterbergstrasse',
       'Zürich, Spyriplatz', 'Zürich, Bethanien', 'Zürich, Toblerplatz'],
      dtype=object)

In [25]:
# Dictionary to store total speed and count for each pair of consecutive stops
speed_data = {}

# Iterate through each trip DataFrame
for trip_name, df in dataframes.items():
    # Sort the DataFrame by time_iso
    df = df.sort_values(by='time_iso')
    df['itcs_stopName'].replace('-', pd.NA, inplace=True)
    df.dropna(subset=['itcs_stopName'], inplace=True)

    # Iterate through consecutive pairs of stops
    for i in range(1, len(df)):
        # Get information about the current and previous stops
        current_stop = df.iloc[i]
        previous_stop = df.iloc[i - 1]
        
        if current_stop['itcs_stopName'] != previous_stop['itcs_stopName']: 
            
            # Use 'odometry_vehicleSpeed' as an approximation of the speed achieved between stops
            speed = (current_stop['odometry_vehicleSpeed'] + previous_stop['odometry_vehicleSpeed'])/2 

            # Update total speed and count in the speed_data dictionary
            stop_pair = (previous_stop['itcs_stopName'], current_stop['itcs_stopName'])
            if stop_pair not in speed_data:
                speed_data[stop_pair] = {'total_speed': 0, 'count': 0}
            speed_data[stop_pair]['total_speed'] += speed
            speed_data[stop_pair]['count'] += 1
        
        # else:
        # skip row because previous_stop does not have a reliable result

# Calculate average speed for each pair of stops
average_speeds = {}
for stop_pair, data in speed_data.items():
    average_speeds[stop_pair] = data['total_speed'] / data['count']

In [26]:
# Display or use the average_speeds dictionary as needed
average_speeds

{('Zürich, Herdernstrasse', 'Zürich, SBB-Werkstätte'): 1.9758231539436941,
 ('Zürich, SBB-Werkstätte', 'Zürich, Letzipark'): 3.314002531273578,
 ('Zürich, Letzipark', 'Zürich, Letzibach'): 3.5891002301153225,
 ('Zürich, Letzibach', 'Zürich, Bahnhof Altstetten'): 1.4497333521620683,
 ('Zürich, Bahnhof Altstetten', 'Zürich, Bristenstrasse'): 0.6760360256506872,
 ('Zürich, Bristenstrasse', 'Zürich, Baslerstrasse'): 1.287784802879027,
 ('Zürich, Baslerstrasse', 'Zürich, Letzipark West'): 1.2173241926076126,
 ('Zürich, Letzipark West', 'Zürich, Kappeli'): 0.6834191179832109,
 ('Zürich, Kappeli', 'Zürich, Flurstrasse'): 0.6282382666429805,
 ('Zürich, Flurstrasse', 'Zürich, Albisrank'): 0.5342487272443125,
 ('Zürich, Albisrank', 'Zürich, Hubertus'): 0.5906666780807042,
 ('Zürich, Hubertus', 'Zürich, Altes Krematorium'): 0.7964138220530517,
 ('Zürich, Altes Krematorium', 'Zürich, Albisriederplatz'): 0.6839227105868482,
 ('Zürich, Albisriederplatz', 'Zürich, Hardplatz'): 0.42723087091378176,
 ('Zürich, Hardplatz', 'Zürich, Bahnhof Hardbrücke'): 0.5146907400573569,
 ('Zürich, Bahnhof Hardbrücke', 'Zürich, Schiffbau'): 0.7033396345096475,
 ('Zürich, Schiffbau', 'Zürich, Escher-Wyss-Platz'): 0.7204174397144048,
 ('Zürich, Escher-Wyss-Platz',
  'Zürich, Rosengartenstrasse'): 0.5455260728689411,
 ('Zürich, Rosengartenstrasse', 'Zürich, Bucheggplatz'): 0.4849494460365183,
 ('Zürich, Bucheggplatz', 'Zürich, Milchbuck'): 0.45842999886373276,
 ('Zürich, Milchbuck', 'Zürich, Bucheggplatz'): 0.48955062138397043,
 ('Zürich, Bucheggplatz', 'Zürich, Rosengartenstrasse'): 0.5338479135269844,
 ('Zürich, Rosengartenstrasse',
  'Zürich, Escher-Wyss-Platz'): 0.5871850374909564,
 ('Zürich, Escher-Wyss-Platz', 'Zürich, Schiffbau'): 0.7555104056841659,
 ('Zürich, Schiffbau', 'Zürich, Bahnhof Hardbrücke'): 0.7467726659567839,
 ('Zürich, Bahnhof Hardbrücke', 'Zürich, Hardplatz'): 0.5460367364725138,
 ('Zürich, Hardplatz', 'Zürich, Albisriederplatz'): 0.5041254408326856,
 ('Zürich, Albisriederplatz', 'Zürich, Altes Krematorium'): 0.791745699983906,
 ('Zürich, Altes Krematorium', 'Zürich, Hubertus'): 0.8158643356664503,
 ('Zürich, Hubertus', 'Zürich, Albisrank'): 0.6723786209638554,
 ('Zürich, Albisrank', 'Zürich, Flurstrasse'): 0.679368284964321,
 ('Zürich, Flurstrasse', 'Zürich, Kappeli'): 0.6759503644389471,
 ('Zürich, Kappeli', 'Zürich, Letzipark West'): 0.8724998233616958,
 ('Zürich, Letzipark West', 'Zürich, Letzibach'): 1.4983250007968005,
 ('Zürich, Rosengartenstrasse', 'Zürich, Lehenstrasse'): 0.6373887818333333,
 ('Zürich, Lehenstrasse', 'Zürich, Rebbergsteig'): 1.9388880325397402,
 ('Zürich, Rebbergsteig', 'Zürich, Kempfhofsteig'): 3.1083011488900385,
 ('Zürich, Kempfhofsteig', 'Zürich, Schwert'): 2.0399582611271305,
 ('Zürich, Schwert', 'Zürich, Meierhofplatz'): 0.5453562283543847,
 ('Zürich, Meierhofplatz', 'Zürich, Wieslergasse'): 0.6906859477460854,
 ('Zürich, Wieslergasse', 'Zürich, Singlistrasse'): 2.134490943989615,
 ('Zürich, Singlistrasse', 'Zürich, Segantinistrasse'): 2.465780991631939,
 ('Zürich, Segantinistrasse', 'Zürich, Giblenstrasse'): 2.003384105374483,
 ('Zürich, Giblenstrasse', 'Zürich, Heizenholz'): 1.8199256611245775,
 ('Zürich, Heizenholz', 'Zürich, Geeringstrasse'): 0.9222716530828884,
 ('Zürich, Geeringstrasse', 'Zürich, Rütihof'): 0.34258886250193604,
 ('Zürich, Rütihof', 'Zürich, Geeringstrasse'): 0.4294061582557214,
 ('Zürich, Geeringstrasse', 'Zürich, Heizenholz'): 1.2015059838731763,
 ('Zürich, Heizenholz', 'Zürich, Giblenstrasse'): 2.3549091162179367,
 ('Zürich, Giblenstrasse', 'Zürich, Segantinistrasse'): 2.5654408303301937,
 ('Zürich, Segantinistrasse', 'Zürich, Singlistrasse'): 2.7114523737398724,
 ('Zürich, Singlistrasse', 'Zürich, Wieslergasse'): 2.235112539510817,
 ('Zürich, Wieslergasse', 'Zürich, Meierhofplatz'): 0.7819915788622074,
 ('Zürich, Meierhofplatz', 'Zürich, Schwert'): 0.5204924244685939,
 ('Zürich, Schwert', 'Zürich, Kempfhofsteig'): 2.2352504273085607,
 ('Zürich, Kempfhofsteig', 'Zürich, Rebbergsteig'): 3.577137459730481,
 ('Zürich, Rebbergsteig', 'Zürich, Lehenstrasse'): 2.410655513424891,
 ('Zürich, Lehenstrasse', 'Zürich, Rosengartenstrasse'): 0.9753425217797659,
 ('Zürich, Rosengartenstrasse',
  'Zürich, Bahnhof Wipkingen'): 0.3952726659492637,
 ('Zürich, Bahnhof Wipkingen', 'Zürich, Lettenstrasse'): 0.7479006732137803,
 ('Zürich, Lettenstrasse', 'Zürich, Okenstrasse'): 1.2076269574310519,
 ('Zürich, Okenstrasse', 'Zürich, Stampfenbachplatz'): 0.7784458407026079,
 ('Zürich, Stampfenbachplatz', 'Zürich, Central'): 0.3133161668507283,
 ('Zürich, Central', 'Zürich, Bahnhofquai/HB'): 0.29312888633902157,
 ('Zürich, Bahnhofquai/HB', 'Zürich, Stampfenbachplatz'): 0.3347810336045063,
 ('Zürich, Stampfenbachplatz', 'Zürich, Nordstrasse'): 0.4020317159037598,
 ('Zürich, Nordstrasse', 'Zürich, Lettenstrasse'): 0.7410422856293207,
 ('Zürich, Lettenstrasse', 'Zürich, Bahnhof Wipkingen'): 0.6541312896666704,
 ('Zürich, Bahnhof Wipkingen',
  'Zürich, Rosengartenstrasse'): 0.34269402535823285,
 ('Zürich, Hubertus', 'Zürich, Sackzelg'): 0.5287490698018965,
 ('Zürich, Sackzelg', 'Zürich, Schulhaus Altweg'): 0.9212682619515852,
 ('Zürich, Schulhaus Altweg', 'Zürich, In der Ey'): 0.8701215412597235,
 ('Zürich, In der Ey', 'Zürich, Triemli'): 0.4664617189055409,
 ('Zürich, Triemli', 'Zürich, In der Ey'): 0.5047381525786909,
 ('Zürich, In der Ey', 'Zürich, Schulhaus Altweg'): 0.815092308803217,
 ('Zürich, Schulhaus Altweg', 'Zürich, Sackzelg'): 0.7346526255778711,
 ('Zürich, Sackzelg', 'Zürich, Hubertus'): 0.42139282532442796,
 ('Zürich, Bahnhof Wipkingen', 'Zürich, Nürenbergstrasse'): 1.152895702137644,
 ('Zürich, Nürenbergstrasse', 'Zürich, Rotbuchstrasse'): 1.15439928964697,
 ('Zürich, Rotbuchstrasse', 'Zürich, Schaffhauserplatz'): 0.3735903588286845,
 ('Zürich, Schaffhauserplatz',
  'Zürich, Scheuchzerstrasse'): 0.6237728321667689,
 ('Zürich, Scheuchzerstrasse',
  'Zürich, Seilbahn Rigiblick'): 0.6193588090583032,
 ('Zürich, Seilbahn Rigiblick',
  'Zürich, Vogelsangstrasse'): 0.5138542944430476,
 ('Zürich, Vogelsangstrasse', 'Zürich, Spyriplatz'): 0.5923732142189054,
 ('Zürich, Spyriplatz', 'Zürich, Bethanien'): 0.8355774116699454,
 ('Zürich, Bethanien', 'Zürich, Toblerplatz'): 0.8092181203264993,
 ('Zürich, Toblerplatz', 'Zürich, Kirche Fluntern'): 0.39250097218509616,
 ('Zürich, Kirche Fluntern', 'Zürich, Hofstrasse'): 0.8335599921383243,
 ('Zürich, Hofstrasse', 'Zürich, Klosbach'): 1.4269123501836098,
 ('Zürich, Klosbach', 'Zürich, Hölderlinsteig'): 2.1596740089815407,
 ('Zürich, Hölderlinsteig', 'Zürich, Klusplatz'): 1.5857245044343355,
 ('Zürich, Klusplatz', 'Zürich, Freiestrasse'): 1.2690798856644392,
 ('Zürich, Freiestrasse', 'Zürich, Hegibachplatz'): 1.2890478324612902,
 ('Zürich, Hegibachplatz', 'Zürich, Botanischer Garten'): 0.5990228767276993,
 ('Zürich, Botanischer Garten', 'Zürich, Höschgasse'): 0.5631348920878606,
 ('Zürich, Höschgasse', 'Zürich, Fröhlichstrasse'): 1.322028741643663,
 ('Zürich, Fröhlichstrasse', 'Zürich, Wildbachstrasse'): 2.7906854360522853,
 ('Zürich, Wildbachstrasse',
  'Zürich, Bahnhof Tiefenbrunnen'): 1.8372042383283178,
 ('Zürich, Bahnhof Tiefenbrunnen',
  'Zürich, Wildbachstrasse'): 0.902245869055799,
 ('Zürich, Wildbachstrasse', 'Zürich, Fröhlichstrasse'): 1.1000789955552643,
 ('Zürich, Fröhlichstrasse', 'Zürich, Höschgasse'): 0.6069546330117856,
 ('Zürich, Höschgasse', 'Zürich, Botanischer Garten'): 0.6751754942789392,
 ('Zürich, Botanischer Garten', 'Zürich, Hegibachplatz'): 0.6236356137940681,
 ('Zürich, Hegibachplatz', 'Zürich, Freiestrasse'): 0.72854140642459,
 ('Zürich, Freiestrasse', 'Zürich, Klusplatz'): 0.7263004304222067,
 ('Zürich, Klusplatz', 'Zürich, Hölderlinsteig'): 1.4578053703365357,
 ('Zürich, Hölderlinsteig', 'Zürich, Klosbach'): 1.978701486407882,
 ('Zürich, Klosbach', 'Zürich, Hofstrasse'): 1.460766749773631,
 ('Zürich, Hofstrasse', 'Zürich, Kirche Fluntern'): 0.9734289752210735,
 ('Zürich, Kirche Fluntern', 'Zürich, Hinterbergstrasse'): 0.8027122050243352,
 ('Zürich, Hinterbergstrasse', 'Zürich, Spyriplatz'): 0.8617977642335243,
 ('Zürich, Spyriplatz', 'Zürich, Vogelsangstrasse'): 0.9622042238668674,
 ('Zürich, Vogelsangstrasse',
  'Zürich, Seilbahn Rigiblick'): 0.8661018166594106,
 ('Zürich, Seilbahn Rigiblick',
  'Zürich, Scheuchzerstrasse'): 0.7107163028087888,
 ('Zürich, Scheuchzerstrasse',
  'Zürich, Schaffhauserplatz'): 0.7225159890847638,
 ('Zürich, Schaffhauserplatz', 'Zürich, Rotbuchstrasse'): 0.5201675295510524,
 ('Zürich, Rotbuchstrasse', 'Zürich, Nürenbergstrasse'): 1.2577904045319817,
 ('Zürich, Nürenbergstrasse', 'Zürich, Bahnhof Wipkingen'): 1.1073931006547415,
 ('Zürich, Albisriederplatz', 'Zürich, Friedhof Sihlfeld'): 0.503155440926073,
 ('Zürich, Friedhof Sihlfeld', 'Zürich, Bertastrasse'): 0.7531780250496004,
 ('Zürich, Bertastrasse', 'Zürich, Zwinglihaus'): 0.6199369898122916,
 ('Zürich, Zwinglihaus', 'Zürich, Schmiede Wiedikon'): 0.386287764267021,
 ('Zürich, Schmiede Wiedikon', 'Zürich, Hertersteg'): 0.6168213522485838,
 ('Zürich, Hertersteg', 'Zürich, Manesseplatz'): 0.6484300913454027,
 ('Zürich, Manesseplatz', 'Zürich, Sihlcity Nord'): 0.4392573603089156,
 ('Zürich, Sihlcity Nord', 'Zürich, Waffenplatzstrasse'): 0.40569585528578567,
 ('Zürich, Waffenplatzstrasse', 'Zürich, Hügelstrasse'): 1.0547278201525094,
 ('Zürich, Hügelstrasse',
  'Zürich, Brunau/Mutschellenstr.'): 1.3639536073776715,
 ('Zürich, Brunau/Mutschellenstr.', 'Zürich, Thujastrasse'): 1.159887429305195,
 ('Zürich, Thujastrasse', 'Zürich, Jugendherberge'): 1.2865471398966497,
 ('Zürich, Jugendherberge', 'Zürich, Besenrainstrasse'): 2.11508106787346,
 ('Zürich, Besenrainstrasse', 'Zürich, Morgental'): 1.8846662357367507,
 ('Zürich, Morgental', 'Zürich, Jugendherberge'): 1.0253246058471468,
 ('Zürich, Jugendherberge', 'Zürich, Thujastrasse'): 1.188279871374198,
 ('Zürich, Thujastrasse',
  'Zürich, Brunau/Mutschellenstr.'): 1.0450727422480897,
 ('Zürich, Brunau/Mutschellenstr.',
  'Zürich, Hügelstrasse'): 1.1469129179013913,
 ('Zürich, Hügelstrasse',
  'Zürich, Waffenplatz-/Bederstr.'): 0.8547378049052804,
 ('Zürich, Waffenplatz-/Bederstr.',
  'Zürich, Waffenplatzstrasse'): 0.8028000796624434,
 ('Zürich, Waffenplatzstrasse', 'Zürich, Sihlcity Nord'): 0.848964254974596,
 ('Zürich, Sihlcity Nord', 'Zürich, Manesseplatz'): 0.47285490335052727,
 ('Zürich, Manesseplatz', 'Zürich, Hertersteg'): 0.9096744229504983,
 ('Zürich, Hertersteg', 'Zürich, Schmiede Wiedikon'): 0.8099726444717582,
 ('Zürich, Schmiede Wiedikon', 'Zürich, Zwinglihaus'): 0.38609107067949033,
 ('Zürich, Zwinglihaus', 'Zürich, Bertastrasse'): 0.5885193065419445,
 ('Zürich, Bertastrasse', 'Zürich, Friedhof Sihlfeld'): 1.5098376751293232,
 ('Zürich, Friedhof Sihlfeld',
  'Zürich, Altes Krematorium'): 1.7553949773404092,
 ('Zürich, Letzibach', 'Zürich, Milchbuck'): 1.5992177411756763,
 ('Zürich, Herdernstrasse', 'Zürich, Hardplatz'): 0.6441490873873855,
 ('Zürich, Hardplatz', 'Zürich, Güterbahnhof'): 0.4992614824853208,
 ('Zürich, Güterbahnhof', 'Zürich, Bäckeranlage'): 0.5265593317873857,
 ('Zürich, Bäckeranlage', 'Zürich, Militär-/Langstrasse'): 0.3827335881519298,
 ('Zürich, Militär-/Langstrasse', 'Zürich, Kanonengasse'): 0.4393138830052357,
 ('Zürich, Kanonengasse', 'Zürich, Sihlpost / HB'): 0.5258792440992104,
 ('Zürich, Sihlpost / HB', 'Zürich, Löwenplatz'): 0.7210832864623684,
 ('Zürich, Löwenplatz', 'Zürich, Bahnhofplatz/HB'): 0.5123258790766485,
 ('Zürich, Bahnhofplatz/HB', 'Zürich, Sihlquai/HB'): 0.2805581648910001,
 ('Zürich, Sihlquai/HB', 'Zürich, Museum für Gestaltung'): 1.3694914354668335,
 ('Zürich, Museum für Gestaltung', 'Zürich, Limmatplatz'): 1.3028855695758332,
 ('Zürich, Limmatplatz', 'Zürich, Quellenstrasse'): 0.1966957453666667,
 ('Zürich, Quellenstrasse', 'Zürich, Löwenbräu'): 1.7735526576166663,
 ('Zürich, Löwenbräu', 'Zürich, Escher-Wyss-Platz'): 1.7750666758158333,
 ('Zürich, Escher-Wyss-Platz', 'Zürich, Löwenbräu'): 4.3218263335,
 ('Zürich, Löwenbräu', 'Zürich, Quellenstrasse'): 4.404188154670212,
 ('Zürich, Quellenstrasse', 'Zürich, Limmatplatz'): 0.5560222002712767,
 ('Zürich, Limmatplatz', 'Zürich, Museum für Gestaltung'): 1.1671042571927084,
 ('Zürich, Museum für Gestaltung', 'Zürich, Sihlquai/HB'): 1.8790266808229161,
 ('Zürich, Sihlquai/HB', 'Zürich, Bahnhofplatz/HB'): 0.8024224543536586,
 ('Zürich, Bahnhofplatz/HB', 'Zürich, Löwenplatz'): 0.2627312218988151,
 ('Zürich, Löwenplatz', 'Zürich, Sihlpost / HB'): 0.35981280206966815,
 ('Zürich, Sihlpost / HB', 'Zürich, Kanonengasse'): 0.5164339602438388,
 ('Zürich, Kanonengasse', 'Zürich, Militär-/Langstrasse'): 0.40830554671303315,
 ('Zürich, Militär-/Langstrasse', 'Zürich, Bäckeranlage'): 0.5924443308271929,
 ('Zürich, Bäckeranlage', 'Zürich, Güterbahnhof'): 0.5786043869870535,
 ('Zürich, Güterbahnhof', 'Zürich, Hardplatz'): 0.3640932216566964,
 ('Zürich, Hardplatz', 'Zürich, Herdernstrasse'): 0.4045634712932352,
 ('Zürich, Bristenstrasse', 'Zürich, Lindenplatz'): 2.4239874983611114,
 ('Zürich, Lindenplatz', 'Zürich, Rautistrasse'): 0.9986618177787037,
 ('Zürich, Rautistrasse', 'Zürich, Schulhaus Buchlern'): 2.8300418962972214,
 ('Zürich, Schulhaus Buchlern', 'Zürich, Rautihalde'): 2.9531505300277767,
 ('Zürich, Rautihalde', 'Zürich, Salzweg'): 4.580163672148148,
 ('Zürich, Salzweg', 'Zürich, Bahnhofplatz/HB'): 6.827426416666667,
 ('Zürich, Salzweg', 'Zürich, Dunkelhölzli'): 3.6887917872777782,
 ('Zürich, Dunkelhölzli', 'Zürich, Salzweg'): 4.9830486846046504,
 ('Zürich, Salzweg', 'Zürich, Rautihalde'): 9.684912840069767,
 ('Zürich, Rautihalde', 'Zürich, Schulhaus Buchlern'): 10.09952801383721,
 ('Zürich, Schulhaus Buchlern', 'Zürich, Rautistrasse'): 7.958965621965113,
 ('Zürich, Rautistrasse', 'Zürich, Lindenplatz'): 4.519378873325581,
 ('Zürich, Lindenplatz', 'Zürich, Bristenstrasse'): 4.09821157672907,
 ('Zürich, Bristenstrasse', 'Zürich, Bahnhof Altstetten'): 2.7741207637081398,
 ('Zürich, Bahnhof Altstetten', 'Zürich, Letzibach'): 1.2398803009181962,
 ('Zürich, Letzibach', 'Zürich, Letzipark'): 2.355134723371299,
 ('Zürich, Letzipark', 'Zürich, SBB-Werkstätte'): 1.8952360343176586,
 ('Zürich, SBB-Werkstätte', 'Zürich, Herdernstrasse'): 1.104083222160667,
 ('Zürich, Geeringstrasse', 'Zürich, Bahnhofplatz/HB'): 0.7224503234166667,
 ('Zürich, Wildbachstrasse', 'Zürich, Triemli'): 1.0764937376666668,
 ('Zürich, Hegibachplatz', 'Zürich, Signaustrasse'): 1.2163694088309378,
 ('Zürich, Signaustrasse', 'Zürich, Kreuzplatz'): 1.4837444565975004,
 ('Zürich, Kreuzplatz', 'Zürich, Sprecherstrasse'): 2.158415667986563,
 ('Zürich, Sprecherstrasse', 'Zürich, Kunsthaus'): 1.9002336439437495,
 ('Zürich, Kunsthaus', 'Zürich, Neumarkt'): 0.29590792205156247,
 ('Zürich, Neumarkt', 'Zürich, Central'): 0.25090930558125,
 ('Zürich, Central', 'Zürich, Bahnhofplatz/HB'): 0.19938373496509432,
 ('Zürich, Geeringstrasse', 'Zürich, Dunkelhölzli'): 0.6933768,
 ('Zürich, Löwenplatz', 'Zürich, Rütihof'): 2.035319275,
 ('Zürich, Sihlcity', 'Zürich, Saalsporthalle'): 2.897074270277027,
 ('Zürich, Saalsporthalle', 'Zürich, Laubegg'): 5.8403077549189195,
 ('Zürich, Laubegg', 'Zürich, Uetlihof'): 7.635028752837836,
 ('Zürich, Uetlihof', 'Zürich, Strassenverkehrsamt'): 4.935245675221623,
 ('Zürich, Strassenverkehrsamt', 'Zürich, Hegianwandweg'): 1.6937269517638784,
 ('Zürich, Hegianwandweg', 'Zürich, Im Hagacker'): 2.8338979293047553,
 ('Zürich, Im Hagacker', 'Zürich, Friesenbergstrasse'): 1.8611054147416353,
 ('Zürich, Friesenbergstrasse', 'Zürich, Friesenberg'): 1.3818492163504006,
 ('Zürich, Friesenberg', 'Zürich, Höfliweg'): 2.456625230731889,
 ('Zürich, Höfliweg', 'Zürich, Goldbrunnenplatz'): 1.7173941329436062,
 ('Zürich, Goldbrunnenplatz', 'Zürich, Zwinglihaus'): 0.5589197157029582,
 ('Zürich, Zwinglihaus', 'Zürich,Kalkbreite/Bhf.Wiedikon'): 0.5393421567109432,
 ('Zürich,Kalkbreite/Bhf.Wiedikon', 'Zürich, Kernstrasse'): 0.5785295778952826,
 ('Zürich, Kernstrasse', 'Zürich, Helvetiaplatz'): 0.578983493311132,
 ('Zürich, Helvetiaplatz', 'Zürich, Bäckeranlage'): 0.318546667,
 ('Zürich, Militär-/Langstrasse',
  'Zürich, Röntgenstrasse'): 0.35723747748590223,
 ('Zürich, Röntgenstrasse', 'Zürich, Limmatplatz'): 0.3882828190883462,
 ('Zürich, Limmatplatz', 'Zürich, Nordstrasse'): 0.546529480842857,
 ('Zürich, Nordstrasse', 'Zürich, Rotbuchstrasse'): 0.5908268933635341,
 ('Zürich, Rotbuchstrasse', 'Zürich, Lägernstrasse'): 0.9889300104266923,
 ('Zürich, Lägernstrasse', 'Zürich, Bucheggplatz'): 0.9222041100110902,
 ('Zürich, Bucheggplatz', 'Zürich, Radiostudio'): 0.42049509084891695,
 ('Zürich, Radiostudio', 'Zürich, Birchdörfli'): 0.9611322489819495,
 ('Zürich, Birchdörfli', 'Zürich, Neuaffoltern'): 1.0144510798259927,
 ('Zürich, Neuaffoltern', 'Zürich, Glaubtenstrasse'): 0.5046612303691335,
 ('Zürich, Glaubtenstrasse', 'Zürich, Einfangstrasse'): 0.7210930605266304,
 ('Zürich, Einfangstrasse', 'Zürich, Zehntenhausplatz'): 0.7627703926915399,
 ('Zürich, Zehntenhausplatz', 'Zürich, Hungerbergstrasse'): 0.705948665758291,
 ('Zürich, Helvetiaplatz', 'Zürich, Militär-/Langstrasse'): 0.413968632785083,
 ('Zürich, Hungerbergstrasse', 'Zürich, Holzerhurd'): 0.6274272333506757,
 ('Zürich, Holzerhurd', 'Zürich, Hungerbergstrasse'): 0.8708788258720092,
 ('Zürich, Hungerbergstrasse', 'Zürich, Zehntenhausplatz'): 0.9486191487433765,
 ('Zürich, Zehntenhausplatz', 'Zürich, Einfangstrasse'): 1.545111121378054,
 ('Zürich, Einfangstrasse', 'Zürich, Glaubtenstrasse'): 1.7590849726409732,
 ('Zürich, Glaubtenstrasse', 'Zürich, Neuaffoltern'): 1.5310094959953622,
 ('Zürich, Neuaffoltern', 'Zürich, Birchdörfli'): 2.704145306496182,
 ('Zürich, Birchdörfli', 'Zürich, Radiostudio'): 2.137786659871567,
 ('Zürich, Radiostudio', 'Zürich, Bucheggplatz'): 0.6937951966089694,
 ('Zürich, Bucheggplatz', 'Zürich, Lägernstrasse'): 1.048918902592941,
 ('Zürich, Lägernstrasse', 'Zürich, Rotbuchstrasse'): 1.299049785109373,
 ('Zürich, Rotbuchstrasse', 'Zürich, Nordstrasse'): 1.3087117798342744,
 ('Zürich, Nordstrasse', 'Zürich, Limmatplatz'): 1.0719671839896072,
 ('Zürich, Limmatplatz', 'Zürich, Röntgenstrasse'): 0.48435391895155644,
 ('Zürich, Röntgenstrasse',
  'Zürich, Militär-/Langstrasse'): 0.47646388918151744,
 ('Zürich, Militär-/Langstrasse',
  'Zürich, Helvetiaplatz'): 0.41062221329062454,
 ('Zürich, Helvetiaplatz', 'Zürich, Kernstrasse'): 0.42707962080370354,
 ('Zürich, Kernstrasse',
  'Zürich,Kalkbreite/Bhf.Wiedikon'): 0.40755115215500015,
 ('Zürich,Kalkbreite/Bhf.Wiedikon', 'Zürich, Zwinglihaus'): 0.514093241617963,
 ('Zürich, Zwinglihaus', 'Zürich, Goldbrunnenplatz'): 0.4767851651825926,
 ('Zürich, Goldbrunnenplatz', 'Zürich, Höfliweg'): 0.7746108189168516,
 ('Zürich, Höfliweg', 'Zürich, Friesenberg'): 1.011475372681852,
 ('Zürich, Friesenberg', 'Zürich, Friesenbergstrasse'): 0.6429100558146296,
 ('Zürich, Friesenbergstrasse', 'Zürich, Im Hagacker'): 1.1782877857183338,
 ('Zürich, Im Hagacker', 'Zürich, Hegianwandweg'): 1.6260671585414816,
 ('Zürich, Hegianwandweg', 'Zürich, Holzerhurd'): 0.74941433375,
 ('Zürich, Hegianwandweg', 'Zürich, Strassenverkehrsamt'): 0.9712334422543232,
 ('Zürich, Zehntenhausplatz', 'Zürich, Bahnhof Affoltern'): 0.5911365429487179,
 ('Zürich, Bahnhof Affoltern', 'Zürich, Fronwald'): 2.361747119310256,
 ('Zürich, Fronwald', 'Zürich, Unteraffoltern'): 4.055295282915385,
 ('Zürich, Unteraffoltern', 'Zürich, Schwandenholz'): 4.327177641953846,
 ('Zürich, Schwandenholz', 'Zürich, Waidhof'): 1.7969279792272728,
 ('Zürich, Waidhof', 'Zürich, Schwandenholz'): 3.222720326857143,
 ('Zürich, Schwandenholz', 'Zürich, Unteraffoltern'): 5.944118451071428,
 ('Zürich, Unteraffoltern', 'Zürich, Fronwald'): 5.804670200178571,
 ('Zürich, Fronwald', 'Zürich, Bahnhof Affoltern'): 3.59374771675,
 ('Zürich, Bahnhof Affoltern', 'Zürich, Zehntenhausplatz'): 0.7362479855535715,
 ('Zürich, Bäckeranlage', 'Zürich, Helvetiaplatz'): 0.9870759068608975,
 ('Zürich, Strassenverkehrsamt', 'Zürich, Uetlihof'): 4.034173467083333,
 ('Zürich, Uetlihof', 'Zürich, Laubegg'): 5.2863179840769225,
 ('Zürich, Laubegg', 'Zürich, Saalsporthalle'): 4.037981393858974,